
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="upper-wrap">
          <div class="image-section-set bg-color">
              <img class="image-set" src="../../../assets/images/entrepreneur.svg">
          </div>
          <ul class="sub-heading d-flex al-item mr-remove">
            <li>Admin /</li>
            <li>Policy Maker</li>
          </ul>  
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-12">
          <div class="record-box table-responsive bg-white-fff border-round same-margin shadow-box">
                 <div class="upper-wrap">
                    <h2 class="main-hading mr-bottom">Latest Policy Request</h2>   
                </div>
                  <table class="table">                               
                      <thead>
                          <tr>
                              <th>Admin Name</th>
                              <th>email</th>
                              <th>Phone Number</th>
                              <th>Gender</th>
                              <th>Password</th>
                              <th>Status</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let policy of PolicyList;let i = index">
                              <td>{{policy.userName}}</td>
                              <td>{{policy.email}}</td>
                              <td>{{policy.mobileNo}}</td>
                              <td>{{getGender(policy.gender)}}</td>
                              <td>{{policy.password}}</td>
                              <td>
                                   <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">ACTIVE</button>
                                   <button *ngIf="postStatus[i]== 1" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">DEACTIVE</button>
                            
                                </td>
                              <td>
                                   <button type="button" class="acton-btn" (click)="policyDetail(policy.userId, policy.userTypeId)">
                                    <img src="../../../assets/images/view.svg" class="action-view">
                                </button>
                                <button type="button" class="acton-btn" (click)="EditDetails(policy.userId, policy.userTypeId)">
                                        <img src="../../../assets/images/view.svg" class="action-view">
                                    </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
      </div>
  </div>
