.edit-btn {
    border-radius: 50%;
    padding: 0px;
    background-color: #888;
    padding: 6px!important;
    height: 30px;
    width: 30px;
    margin: 2px;
    color: #fff;
    box-shadow:0px 7px 7px -4px gray!important;
}
.delet-btn{
    border-radius: 50%;
    padding: 0px;
    background-color: #f75353;
    padding: 6px!important;
    height: 30px;
    width: 30px;
    margin: 2px;
    color: #fff;
    box-shadow: 0px 7px 7px -4px gray!important;
}