.main-hading {
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 20px;
    font-weight:bold;
    letter-spacing: 1px;
    margin: 0;
    justify-content: unset;
    display: flex;
    align-items: center;
    margin-left: 0px;
     color: #707070;
}
.policy-title{
  font-size: 0.9rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.75;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}
.title-name{
font-size: 0.9rem;
font-weight: 300;
color: #707070;
margin: 0;
margin-left: 1rem; 
}
.question-heading{
    font-size: 0.9rem;
    font-weight: 500;
    color: #4c5264;
    margin: 0px;
    margin-bottom: 1rem;
}
.description-p{
  font-size: 1.2rem;
  line-height: 2.28;
  color: #4b4b4b;
  margin: 0;
}
.information-container {
    height: 100px;
    overflow: auto;
    width: 100%;

}