.main-hading {
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 20px;
    font-weight:bold;
    letter-spacing: 1px;
    margin: 0;
    justify-content: unset;
    display: flex;
    align-items: center;
    margin-left: 0px;
     color: #707070;
}
.policy-title{
  font-size: 0.9rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.75;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.pull-right {
    float: right;
}

.title-name{
font-size: 0.9rem;
font-weight: 300;
color: #707070;
margin: 0;
margin-left: 1rem; 
}
.question-heading{
    font-size: 0.9rem;
    font-weight: 500;
    color: #4c5264;
    margin: 0px;
    margin-bottom: 1rem;
}
.description-p{
  font-size: 1.2rem;
  line-height: 2.28;
  color: #4b4b4b;
  margin: 0;
}




.inner-model-box {
    width: 100%;
    padding: 15px;
}
.inner-model-box span {
    font-size: 1rem;
    font-weight: 500;
}
.mod-btn {
    border-radius: 4px;
    margin-top: 2rem;
    width: 48%;
    height: 50px;
}
.mod-btn:first-child {
    margin-right: 1rem;
}
.cl-img img {
    width: 20px;
}
img.altr {
    width: 100px;
}
.dc-act h3 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
}
.dc-act {
    margin-left: 1rem;
}
.fill-back{
    background: #f44336;
    color: #fff;
}
.fill-back-ac{
    background: #50af50;
    color: #fff;
}
.deactivatedd {
    background: #d01507!important
}
.activatedd {
    background: #4caf50!important
}
.successful-modal img{
    width: 80px;
    height: 44px;
}
.success-parent{
    overflow: hidden;
    clear: both;
    padding: 10px 15px
}
.child-success{
    float: left;
}
.comment{
    border: 1px solid grey;
}
    