*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background: #f5f5f5;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
/*All Use*/
.edit-btn img, .delet-btn img{
    width: 15px;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
}
.edit-btn {
    padding: 8px 22px;
    border: 0;
    background: transparent;
    border: 1px solid #ac67f4;
    color: #ac67f4;
    border-radius: 4px;
    margin-right: 10px;
}
.edit-btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 3px -4px #ad68f5;
}
.delet-btn {
    padding: 8px 22px;
    border: 0;
    background: transparent;
    border: 1px solid #d60f0f;
    color: #d60f0f;
    border-radius: 4px;
}
.delet-btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 3px -4px #d60f0f;
}
button:focus {

    outline: 0 !important;
}
.cursor{
    cursor: pointer;
}
.mr-left-2r {
    margin-left: 2rem !important;
}
.padding-tb{
    padding: 2rem 0px;
}
.space-between-flx{
    justify-content: space-between;
}
.group-action-button li {
    padding: 10px 30px;
    margin-right: 1rem; 
}
.group-action-button li a {
    color: #fff;
}
.group-action-button li a:hover {
   text-decoration: none;
}
.border-round-rem{
    border-radius: 0px !important; 
}
.small-space {
    padding: 1rem 0;
}
.mr-remove{
    margin: 0px !important;
}
.bg-white-fff{
    background: #fff;
}
.main-container{
    display: flex;
    width: 100%;
    position: relative;
}
.dc-bg-color-one{
    border-radius: 6.5px;
      background-image: linear-gradient(91deg, #c694f9 0%, #ab64f4 100%);
}
.dc-bg-color-two{
    border-radius: 6.5px;
    background-image: linear-gradient(to right, #6aa5e3, #6866e9 100%);
}
.dc-bg-color-three{
    border-radius: 6.5px;
      background-image: linear-gradient(to right, #feb683 2%, #ff8993 100%);
}
.dc-bg-color-inactive{
    background-image: linear-gradient(to bottom, #f63b61, #c20d32);
}
.dc-bg-color-active{
    background-image: linear-gradient(to bottom, #00b26f, #006b04);
}
.dc-bg-color-approve{
     background-image: linear-gradient(to bottom, #53fb5e, #1d9e29);
}
.pd-lr-space{
    padding: 0 15px;
}
.border-round{
        border-radius: 6.5px;
}
.mr-bottom{
    margin-bottom: 1rem !important;
}
.bg-color-blu{
    background: #3b8cf6;
}
.bg-color-l-black{
    background: #707070;
}
.al-item{
align-items: center;
}
.all-pading{
    padding: 3rem;
}
.mr-left {
    margin-left: 1rem !important;
}
.same-margin{
    margin: 1rem 0
}
.same-padding {
    padding: 2rem;
}
.shadow-box{
    box-shadow: 0 1.5px 3px 0 rgba(157, 206, 255, 0.16);
    border-radius: 5px;
}
.spc-gen{
    margin: 4rem 0;
}
.sub-heading li {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.21;
    color: #707070;
    margin-left: 0.5rem;
}
.sub-heading li:last-child {
    color: #3b8cf6 !important;
}
.acton-btn {
    background: transparent;
    border: 0;
}
.acton-btn:focus {
    outline: 0;
}
.drop-show {
    margin-bottom: 1rem;
}

.drop-show1{
    margin-bottom: 1rem;
    display: none;
}
/* End All use*/
/*Sidebar Section*/

/* active Side bar */
.side-menu-down {
    position: relative;
}
.sidebar.active .trans {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translate3d(223px, 0px, 0px);
    will-change: transform;
    width: 180px;
    border-left: 0;
}
.drop-showw {
    margin-bottom: 1rem;
}
.img-hdi{
    display:none;
}
.side-menu ul li a.active .img-hdi{
    display: inline-block;
}
.side-menu ul li a.active .img-sdi{
    display:none;
}
.side-menu ul li a.active {
    color: #3b8cf6;
}
    .sidebar.active{
        left: -150px;
        transition: all 500ms linear;
    }
    .shw{
        display: none;
    }
    .logo-sidee{
        display: none;
    }
    .sidebar.active .side-bar-menu {
        margin: 24px 2.7rem;
    }
    .sidebar.active .shw{
        display: block;
        position: relative;
        left: 130px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .sidebar.active .hid{
        display: none;
    }
    .sidebar.active .logo-side{
        display: none;
        transition: all 500ms linear;
    }
    .sidebar.active .logo-sidee{
        display: block;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.71;
        color: #3b8cf6;
        position: absolute;
        right: 25px;
    }
    .top-bar.active {
        margin-left: 100px;
        transition: all 500ms linear;
}
/* End Active Side bar*/

.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    transition: all 500ms linear;
    z-index: 9;
}
span.line-bar {
    height: 2px;
    width: 20px;
    background: #3b8cf6;
    display: block;
    margin-bottom: 4px;
}
button.togg {
    position: absolute;
    left: 250px;
    top: 10px;
    border: none;
    background: #fff;
    padding: 10px;
    z-index: 9;
    transition: all 500ms linear;
}
button.togg:focus {
    outline: 0;
}
.logo-container {
    width: 100%;
    height: 60px;
    display: flex;
    margin-left:1rem;
    align-items: center;
}
.logo-side{
  font-size: 1rem;
  font-weight: 900;
  color: #3b8cf6;
}
.logo-side:hover {
    text-decoration: none;
    color: #3b8cf6;
}
.user-description {
    margin-left: 1rem;
}
.profile-box {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
}
.image-section {
    width: 40px;
    height: 40px;
    border: 1px solid #c7c7c7;
    border-radius: 50px;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.user-description h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #707070;
    margin: 0;
}
.user-description h3 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #707070;
    margin: 0;
}
.side-bar-menu {
    margin: 0 1rem;
}
.side-menu {
    padding-top: 2rem;
}
.side-menu ul li {
    align-items: center;
    margin-bottom: 1.2rem;
}
.side-menu ul li a {
    font-size: 13px;
    font-weight: 400;
    color: #707070;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.inner-dropdown ul li {
    margin: 0;
    margin-top: 1rem;
}
.drop-show{
    display: none;
}
.drop-showw{
    display: none;
}
/* End Sidebar Section*/



/* Topbar Section*/
.top-bar {
    width: 100%;
    margin-left: 250px;
    transition: all 500ms linear;
}
.inner-top-bar{
    height: 60px;
    width: 100%;
}
.search-box .form-control {
    background-color: #fff;
    margin: 0;
    border: 0;
    width: 200px;
    font-weight: 300;
    line-height: 3.33;
    color: #c7c7c7;
}
.search-box .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.top-bar-option ul {
    justify-content: center;
    align-items: center;
    margin: 0;
}
.top-wrap-box {
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 20px;
}
.top-bar-option ul li {
    margin-right: 2rem;
}
/* End Topbar Section*/


/* Main Content box*/
.dashboard-section {
    margin: 2rem 15px;
}
.neu-shadow{
    box-shadow: 4px 4px 6px #cccccc, -4px -4px 6px #ffffff;
}
.neu-shadow-inside{
    box-shadow: inset 4px 4px 6px #cccccc, inset -4px -4px 6px #ffffff;
}
.inner-img-section {
width: 60px;
height: 60px;
position: absolute;
top: -27px;
left: 10px;
border-radius: 5px;
text-align: center;
box-shadow: 0px 9px 12px -9px #0c295a;
}
.circle-box-back {
position: absolute;
width: 105.8px;
height: 105px;
opacity: 0.14;
background-color: #ffffff;
top: 9px;
right: -37px;
border-radius: 50px;
}
.circle-box-down {
position: absolute;
width: 105.8px;
height: 105px;
opacity: 0.14;
background-color: #ffffff;
bottom: -37px;
right: 0px;
border-radius: 50px;
}
.margin-tp{
margin-top: 1rem;
margin-bottom: 2rem;
}
.bg-color{
  background-image: linear-gradient(to right, #006dfc 0%, #0051bb 136%);
  border-radius: 4px;
}
.main-hading {
font-size: 1rem;
text-transform: capitalize;
line-height: 20px;
font-weight:bold;
letter-spacing: 1px;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;
  color: #707070;
}
.upper-wrap {
display: flex;
}
.image-set {
width: 24px;
height: 24px;
object-fit: contain;
object-position: center;
margin: 6px;
}  
.inner-image-set {
width: 40px;
height: 40px;
object-fit: contain;
margin: 10px;
margin-left: 0;
}
.container-wrap-box {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 2rem;
width: 100%;
}
.inner-box-card {
position: relative;
padding: 20px;
overflow: hidden;
}
.card-hading-txt {
font-size: 1rem;
text-transform: capitalize;
margin: 0 !important;
line-height: 20px;
color: #fff;
  font-weight: 600;
}
.card-info-txt {
font-size: 1.7rem;
margin: 0 !important;
margin-top: .5rem;
font-weight: 600;
line-height: 1.67;
color: #ffffff;
}

/* record table Css */

.txt-color-r{
color:#f63b61 !important;
font-weight: 600 !important;
}
.record-box table {
margin: 0;
}
.record-box thead tr th {
font-size: 13px;
text-transform: capitalize;
font-weight: 600;
line-height: 1rem;
color: #707070;
padding: 10px 5px;
border: 0px;
}
.record-box tbody tr td {
    vertical-align: middle;
    font-size: 12px;
    line-height: 10px;
    padding: 10px 5px;
    font-weight: 400;
    color: #969696;
    width: 100px;
}
.ab-btn {
color: #fff;
text-transform: uppercase;
font-size: 14px;
font-weight: 500;
line-height: 1rem;
text-align: center;
border: 0;
width: 120px;
height: 28px;
}
.record-box {
padding: 20px;
}
/* End record table css */


/* Media Query */

@media (min-width:320px) and (max-width:480px){
.container-wrap-box {
display: grid;
grid-template-columns: 1fr;
grid-gap: 2rem;
width: 100%;
}
.inner-box-card:last-child {
margin-bottom: 0;
}
}
@media (min-width:481px) and (max-width:780px){
.container-wrap-box {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 2rem;
width: 100%;
}
}
/* End Media Query */
/* End Main Content Box*/




@media (min-width: 1367px) and (max-width: 1920px){

    .sidebar{
        position: fixed;
        width: 400px;
        height: 100vh;
        left: 0;
        transition: all 500ms linear;
        z-index: 9;
    }
    .shw{
        display: none;
    }
    .logo-sidee{
        display: none;
    }
    .sidebar.active .side-bar-menu {
        margin: 24px 2.7rem;
    }
    .sidebar.active .shw{
        display: block;
        position: relative;
        left: 280px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    .sidebar.active .hid{
        display: none;
    }
    .sidebar.active .logo-side{
        display: none;
        transition: all 500ms linear;
    }
    .sidebar.active .logo-sidee{
        display: block;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.71;
        color: #3b8cf6;
        position: absolute;
        right: 25px;
    }
.sidebar.active{
    left: -300px;
    transition: all 500ms linear;
}
    .logo-container {
    width: 100%;
    height: 104px;
    display: flex;
    align-items: center;
    margin-left: 3.7rem;
}
    .logo-side{
      font-size: 2rem;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #3b8cf6;
    }
    .image-section {
        width: 52px;
        height: 52px;
        border: 1px solid #c7c7c7;
        border-radius: 50px;
        overflow: hidden;
    }
    .side-bar-menu {
        margin: 0 2.7rem;
    }
    button.togg {
        position: absolute;
        left: 400px;
        top: 32px;
        border: none;
        background: #fff;
        padding: 10px;
        z-index: 9;
        transition: all 500ms linear;
}
.top-bar {
    width: 100%;
    margin-left: 400px;
    transition: all 500ms linear;
}
.top-bar.active {
    margin-left: 100px;
    transition: all 500ms linear;
}
.inner-top-bar{
    height: 104px;
    width: 100%;
}
.top-wrap-box {
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 20px;
    }
    .record-box tbody tr td {
        vertical-align: middle;
        font-size: 14px;
        line-height: 10px;
        padding: 15px 5px;
        font-weight: 300;
        color: #4b4b4b;
    }
    .ab-btn {
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        line-height: 1rem;
        text-align: center;
        border: 0;
        width: 80px;
        height: 28px;
    }
}

.ant-pagination {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
    
ul.ant-pagination li {
    margin: 0 10px;
    list-style: none !important;
    border: 1px solid #cccccc;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle !important;
    }
    .anticon-double-right {
        display: none;
    }
    .ant-pagination-item-container:hover .anticon-double-right {
        display: inline-block !important;
    }
    .anticon-double-left {
        display: none;
    }
    .ant-pagination-item-container:hover .anticon-double-left {
        display: inline-block !important;
    }
    .ant-pagination-item-container:hover span.ant-pagination-item-ellipsis {
        display: none;
    }
    li.ant-pagination-item.ant-pagination-item-active {
        color: #4dbd74;
        border: 1px solid #4dbd74;
    }

    .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link{
        border:0px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background: transparent !important;
    }
    .ant-pagination-jump-next, .ant-pagination-jump-prev, .ant-pagination-next, .ant-pagination-prev {
        display: inline-block;
        min-width: unset !important;
    }
    .ant-pagination-item {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    span.ant-pagination-item-ellipsis {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    i.anticon.ant-pagination-item-link-icon.anticon-double-right {
        position: relative;
        top: -3px;
    }
    i.anticon.ant-pagination-item-link-icon.anticon-double-left {
        position: relative;
        top: -3px;
    }