*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    background: #f5f5f5;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/* News Section */

.border-rd{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
p.inline-blk div {
    display: inline;
}
.new-tbls tbody tr td p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
}
p.inline-blk p:nth-child(2) {
    display: none;
}
.flx-ed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.crd-bnt a {
    border: 1px solid #0062e3;
    color: #0062e3;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 3px;
}
.image-set {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    margin: 6px;
    fill: #fff;
}
.crd-box{
    border:0px;
}
.crd-box .card-header {
    background: #fff !important;
}
.new-tbls .table td, .table th {
    border: 0px;
    padding: 0px !important;
    vertical-align: middle;
}
.new-tbls {
    margin: 0;
}
.crd-bnt .btn:hover {
    color: #005ed8;
}
.hash-img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    border: 2px solid #ffffff;
    object-fit: cover;
    object-position: center;
}
/* End News Section */

/*All Use*/
.edit-btn {
    border-radius: 50%;
    padding: 0px;
    background-color: #888 !important;
    height: 30px;
    width: 30px;
    margin: 2px;
    color: #fff;
    box-shadow:0px 7px 7px -4px gray!important;
}
.delet-btn{
    border-radius: 50%;
    padding: 0px;
    background-color: #f75353 !important;
    height: 30px;
    width: 30px;
    margin: 2px;
    color: #fff;
    box-shadow: 0px 7px 7px -4px gray!important;
}
.paddign-remove{
    padding: 0px !important;
}
.top-lr-padding{
    padding: 2rem 3rem;
}
.border-remo{
    border: 0px !important;
}
.bck-approved{
    background-image: linear-gradient(to bottom, #6aa5e3, #6866e9);
    color:#fff;
}
.bck-padding{
    background-image: linear-gradient(to bottom, #c694f9, #ab64f4);
    color:#fff;
}
.bck-reject{
    background-image: linear-gradient(to bottom, #feb683, #ff8993);
    color:#fff;
}
.bck-doc{
    background-image: linear-gradient(to bottom, #00C9A7, #008F7A);
    color:#fff;
}
.bck-prof{
    background-image: linear-gradient(to bottom, #FFC75F, #FF9671);
    color:#fff;
}
.bck-poly{
    background-image: linear-gradient(to bottom, #777777, #f5f573);
    color:#fff;
}
.edit-btn img, .delet-btn img{
    width: 15px;
}

.edit-btn {
    border: 0;
    background: transparent;
}
.edit-btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 3px -4px #ad68f5;
}
.delet-btn {
    border: 0;
    background: transparent;
}
.delet-btn:active{
    transform: translateY(1px);
    box-shadow: 0 5px 3px -4px #d60f0f;
}
button:focus {

    outline: 0 !important;
}
.cursor{
    cursor: pointer;
}
.mr-left-2r {
    margin-left: 2rem !important;
}
.padding-tb{
    padding: 2rem 0px;
}
.space-between-flx{
    justify-content: space-between;
}
.group-action-button li {
    padding: 10px 30px;
    margin-right: 1rem; 
}
.group-action-button li a {
    color: #fff;
}
.group-action-button li a:hover {
   text-decoration: none;
}
.border-round-rem{
    border-radius: 0px !important; 
}
.small-space {
    padding: 1rem 0;
}
.mr-remove{
    margin: 0px !important;
}
.bg-white-fff{
    background: #fff;
}
.main-container{
    display: flex;
    width: 100%;
    position: relative;
}
.fill-back {
    background: #f44336;
    color: #fff;
}
.fill-back-ac {
    background: #50af50;
    color: #fff;
}
.dc-bg-color-one{
    border-image-source:linear-gradient(91deg, #c694f9 0%, #ab64f4 100%) !important;
    border-style: solid !important;
    border-image-slice: 1 !important;
    border-width: thin !important;
}

.dc-bg-color-two {
    border-image-source: linear-gradient(to right, #6aa5e3, #6866e9 100%) !important;
    border-style: solid !important;
    border-image-slice: 1 !important;
    border-width: thin !important;
}
.dc-bg-color-three{
    border-radius: 6.5px;
      background-image: linear-gradient(to right, #feb683 2%, #ff8993 100%);
}
.dc-bg-color-inactive:hover{
    color:#f44336 !important;
}
.dc-bg-color-inactive{
    
    border:1px solid #f44336;
    color:#f44336;
}
.dc-bg-color-active:hover{
    color:#4caf50 !important;
}
.dc-bg-color-active{

    border:1px solid #4caf50;
    color:#4caf50;
}
.dc-bg-color-panding:hover{
    color:#bdbf26 !important;
}
.dc-bg-color-panding{
    /* border:1px solid #9627b0;
    color:#9627b0 !important; */
    
        border: 1px solid #bdbf26;
        color: #bdbf26 !important;
   
}
.dc-bg-color-approve{
     background-image: linear-gradient(to bottom, #53fb5e, #1d9e29);
}
.pd-lr-space{
    padding: 0 15px;
}
.border-round{
        border-radius: 6.5px;
}
.mr-bottom{
    margin-bottom: 1rem !important;
}
.bg-color-blu{
    background: #3b8cf6;
}
.bg-color-l-black{
    background: #707070;
}
.al-item{
align-items: center;
}
.all-pading{
    padding: 3rem;
}
.mr-left {
    margin-left: 1rem !important;
}
.same-margin{
    margin: 1rem 0
}
.same-padding {
    padding: 2rem;
}
.shadow-box{
    box-shadow:0 0 10px 0 rgba(183,192,206,.2);
    border-radius: 5px;
}
.spc-gen{
    margin: 4rem 0;
}
.sub-heading li {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.21;
    color: #707070;
    margin-left: 0.5rem;
}
.sub-heading li:last-child {
    color: #3b8cf6 !important;
}
.acton-btn {
    background: transparent;
    border: 0;
}
.acton-btn:focus {
    outline: 0;
}
.drop-show {
    margin-bottom: 1rem;
}

.drop-show1{
    margin-bottom: 1rem;
    display: none;
}
/* End All use*/
/*Sidebar Section*/

/* active Side bar */
.sidebar.active .inner-dropdown {
    display: none !important;
}
.side-menu-down {
    position: relative;
}

.drop-showw {
    margin-bottom: 1rem;
}
.img-hdi{
    display:none;
}
.side-menu ul li a.active .img-hdi{
    display: inline-block;
}
.side-menu ul li a.active .img-sdi{
    display:none;
}
.side-menu ul li a.active {
    color: #3b8cf6;
}
    .sidebar.active{
        width: 100px;
        transition: all 500ms linear;
    }
    .shw{
        display: none;
    }
    .logo-sidee{
        display: none;
    }

    .sidebar.active .shw{
        display: flex;
        width: 100%;
        margin-top: 1.6rem;
        justify-content: center;
        align-items: center;
    }
    /* .sidebar.active .side-menu {
        position: relative;
        right: 24px;
    } */
    .sidebar.active .hid{
        display: none;
    }
    .sidebar.active .logo-side{
        display: none;
        transition: all 500ms linear;
    }
    .sidebar.active .logo-sidee{
        display: block;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.71;
        color: #3b8cf6;
        position: absolute;
        right: 25px;
    }
    .top-bar.active {
        width:calc(100% - 100px);
        margin-left: 100px;
        transition: all 500ms linear;
}
/* End Active Side bar*/

.sidebar{
    position: fixed;
    width: 260px;
    height: 100%;
    left: 0;
    transition: all 500ms linear;
    z-index: 9;
}
span.line-bar {
    height: 2px;
    width: 20px;
    background: #3b8cf6;
    display: block;
    margin-bottom: 4px;
}
button.togg {
    border: none;
    background: #fff;
    padding: 10px;
    transition: all 500ms linear;
}
button.togg:focus {
    outline: 0;
}
.logo-container {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-side{
  font-size: 1rem;
  font-weight: 900;
  color: #3b8cf6;
}
.logo-side:hover {
    text-decoration: none;
    color: #3b8cf6;
}
.user-description {
    margin-left: 1rem;
}
.profile-box {
    display: flex;
    width: 100%;
    align-items: center;
}
.image-section {
    width: 32px;
    height: 32px;
    border: 1px solid #c7c7c7;
    border-radius: 50px;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.user-description h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #707070;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 7px;
}
.user-description h3 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #707070;
    margin: 0;
}

.side-menu ul li {
    display: block;
    margin-bottom: 1.2rem;
}
.side-menu ul li a {
    font-size: 13px;
    font-weight: 400;
    color: #707070;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.inner-dropdown ul li {
    margin: 0;
    margin-top: 1rem;
}
.drop-show{
    display: none;
}
.drop-showw{
    display: none;
}

.user-panel {
    width: 100%;
    display: block;
    margin-top: 1.6rem;
}

.user-image {
    width: 35% !important;
    height: auto !important;
    max-width: 75px;
    margin: 0 auto;
    border-radius: 15% !important;
    border: 2px solid #dadada !important;
}
.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.scroll-side{
    position: relative;
    padding-top: 1rem;
}

.side-menu ul {
    padding: 0 1rem;
}
/* End Sidebar Section*/



/* Topbar Section*/
.top-bar {
    width: calc(100% - 260px);
    margin-left: 260px;
    transition: all 500ms linear;
}
.inner-top-bar{
    height: 60px;
    box-shadow: 3px 0 10px 0 rgba(183,192,206,.2);
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 260px);
    z-index: 2;
    margin-left:260px;
    transition: all 500ms linear;
}
.top-bar.active .inner-top-bar{
    width: calc(100% - 100px);
    z-index: 2;
    margin-left:100px;
    transition: all 500ms linear;
}
.search-box .form-control {
    background-color: #fff;
    margin: 0;
    border: 0;
    width: 200px;
    font-weight: 300;
    line-height: 3.33;
    color: #c7c7c7;
}
.search-box .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.top-bar-option ul {
    justify-content: center;
    align-items: center;
    margin: 0;
}
.top-wrap-box {
    align-items: center;
    margin: 0.7rem 0px;
}
.top-bar-option ul li {
    margin-right: 2rem;
    position: relative;
}
.logout-box img {
    width: 24px;
    cursor: pointer;
}
.num-lit {
    width: 13px;
    height: 13px;
    background: #3b8cf6;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
/* End Topbar Section*/


/* Main Content box*/
button.btn {
    cursor: unset !important;
}

.dashboard-section {
    margin: 5.6rem 15px;
}
.neu-shadow{
    box-shadow: 4px 4px 6px #cccccc, -4px -4px 6px #ffffff;
}
.neu-shadow-inside{
    box-shadow: inset 4px 4px 6px #cccccc, inset -4px -4px 6px #ffffff;
}
.inner-img-section {
width: 60px;
height: 60px;
position: absolute;
top: -27px;
left: 10px;
border-radius: 5px;
text-align: center;
box-shadow: 0px 9px 12px -9px #0c295a;
}
.circle-box-back {
position: absolute;
width: 105.8px;
height: 105px;
opacity: 0.14;
background-color: #ffffff;
top: 9px;
right: -37px;
border-radius: 50px;
}
.circle-box-down {
position: absolute;
width: 105.8px;
height: 105px;
opacity: 0.14;
background-color: #ffffff;
bottom: -37px;
right: 0px;
border-radius: 50px;
}
.margin-tp{
margin-top: 1rem;
margin-bottom: 2rem;
}
.bg-color{
  background-image: linear-gradient(to right, #006dfc 0%, #0051bb 136%);
  border-radius: 4px;
}
.main-hading {
font-size: 1rem;
text-transform: capitalize;
line-height: 20px;
font-weight:bold;
letter-spacing: 1px;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;
  color: #707070;
}
.upper-wrap {
display: flex;
}
.image-set {
width: 24px;
height: 24px;
object-fit: contain;
object-position: center;
margin: 6px;
}  
.inner-image-set {
width: 25px;
height: 25px;
object-fit: contain;
margin: 10px;
margin-left: 0;
}
.container-wrap-box {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-gap: 1rem;
width: 100%;
}
.inner-box-card {
position: relative;
padding: 10px;
overflow: hidden;
}
.card-hading-txt {
    font-size: 0.9rem;
    text-transform: capitalize;
    margin: 0 !important;
    line-height: 20px;
    color: #fff;
    font-weight: 600;
}
.card-info-txt {
font-size: 1.1rem;
margin: 0 !important;
margin-top: .2rem;
font-weight: 600;
line-height: 1.67;
color: #ffffff;
}
.ab-btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
    width: 100px;
    height: 30px;
}
.inner-box-card {
    position: relative;
    padding: 15px;
    overflow: hidden;
}
/* record table Css */

.txt-color-r{
color:#f63b61 !important;
font-weight: 600 !important;
}
.record-box table {
margin: 0;
}
.record-box thead tr th {
font-size: 13px;
text-transform: capitalize;
font-weight: 600;
line-height: 1rem;
color: #707070;
padding: 10px !important;
border: 0px;
}
.record-box tbody tr td {
    vertical-align: middle;
    font-size: 12px;
    line-height: 10px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
}

.record-box {
padding: 20px;
}
/* End record table css */


/* Media Query */

@media screen  and (max-width:480px){
.container-wrap-box {
display: grid;
grid-template-columns: 1fr !important;
grid-gap: 1rem;
width: 100%;
}
.inner-box-card:last-child {
margin-bottom: 0;
}
}
/* @media (min-width:481px) and (max-width:780px){
.container-wrap-box {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 2rem;
width: 100%;
}
} */
@media screen and (max-width:1440px){
    .container-wrap-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        width: 100%;
        }
}
@media screen and (max-width:1024px){
    .container-wrap-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        width: 100%;
        }
}
/* End Media Query */
/* End Main Content Box*/




@media (min-width: 1441px) and (max-width: 1920px){

    .sidebar{
        position: fixed;
        width: 260px;
        height: 100vh;
        left: 0;
        transition: all 500ms linear;
        z-index: 9;
    }
    .shw{
        display: none;
    }
    .logo-sidee{
        display: none;
    }
    .sidebar.active .hid{
        display: none;
    }
    .sidebar.active .logo-side{
        display: none;
        transition: all 500ms linear;
    }
    .sidebar.active .logo-sidee{
        display: block;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.71;
        color: #3b8cf6;
        position: absolute;
        right: 25px;
    }
.sidebar.active{
    left: -160px;
    transition: all 500ms linear;
}
    .logo-side{
    font-size: 1.4rem;
    font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #3b8cf6;
    }

.top-bar {
    width: calc(100% - 260px);
    margin-left: 260px;
    transition: all 500ms linear;
}
.top-bar.active {
    margin-left: 100px;
    transition: all 500ms linear;
}

    .record-box tbody tr td {
        vertical-align: middle;
        font-size: 14px;
        line-height: 30px;
        padding: 10px 5px;
        font-weight: 300;
        color: #4b4b4b;
    }
    .ab-btn {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        line-height: 1rem;
        text-align: center;
        width: 100px;
        height: 30px;
    }
}

.ant-pagination {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
    
ul.ant-pagination li {
    margin: 0 10px;
    list-style: none !important;
    border: 1px solid #cccccc;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle !important;
    }
    .anticon-double-right {
        display: none;
    }
    .ant-pagination-item-container:hover .anticon-double-right {
        display: inline-block !important;
    }
    .anticon-double-left {
        display: none;
    }
    .ant-pagination-item-container:hover .anticon-double-left {
        display: inline-block !important;
    }
    .ant-pagination-item-container:hover span.ant-pagination-item-ellipsis {
        display: none;
    }
    li.ant-pagination-item.ant-pagination-item-active {
        color: #4dbd74;
        border: 1px solid #4dbd74;
    }

    .ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link{
        border:0px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background: transparent !important;
    }
    .ant-pagination-jump-next, .ant-pagination-jump-prev, .ant-pagination-next, .ant-pagination-prev {
        display: inline-block;
        min-width: unset !important;
    }
    .ant-pagination-item {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    span.ant-pagination-item-ellipsis {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    i.anticon.ant-pagination-item-link-icon.anticon-double-right {
        position: relative;
        top: -3px;
    }
    i.anticon.ant-pagination-item-link-icon.anticon-double-left {
        position: relative;
        top: -3px;
    }
    .error p{
    
        margin-top: 5px;
        color: red;
        font-size: 12px;
    
    }
.emailImage{
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}   

.ap-box {
    display: block !important;
}

/* plus - minus button */
.mag-button {
    width: 18px;
    object-fit: cover;
    object-position: center;
}
.inner-wrap-button-section button {
    background: no-repeat;
    border: 0;
    padding: 4px 11px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.inner-wrap-button-section button:active {
    background: #ced4da !important;
}
.lti-spc {
    margin-right: 5px;
}

/* plus - minus button End */

/* change Side bar */

.sidebar.active .side-title {
    display: none;
    transition: all 500ms linear;
}
.sidebar.active .side-menu ul li a {
    display: flex;
    justify-content: center;
}
/* change side bar End */

.red-icon {
    fill: red;
    width: 14px;
}
.close-oth{
    font-size: unset;
    opacity: unset !important;
}
.nex-sdc h2 {
    position: unset !important;
}
.small-logo-container{
    display: none !important;
}
@media (min-width: 320px) and (max-width: 490px) {
  
    .main-container {
        display: block;
        width: 100%;
        position: relative;
    }
    .small-logo-container{
        display: flex !important;
        padding: 5px 15px;
    }
    .logo-container{
        display: none;
    }
    .sidebar {
        position: fixed;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        -webkit-transition: all 500ms linear;
        transition: all 500ms linear;
        z-index: 9;

    }
    .top-bar {
        width: 100%;
        margin-left:unset !important;
        transition: all 500ms linear;
        position: relative;
        margin-top: 48px;
        border-top: 1px solid #e8e8e8;
    }
    .inner-top-bar {
        height: 60px;
        box-shadow: none !important;
        position: unset !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        margin-left: unset;
        transition: all 500ms linear;
    }
    .md-toggle{
        display: none !important;
    }
    .dashboard-section {
        margin: .9rem 15px !important;
    }
    .top-wrap-box {
        align-items: center;
        width: 100%;
        height: 60px;
        margin: unset !important;
    }
  }