<div class="sidebar bg-white-fff">
    <div class="inner-side-bar">
        <div class="logo-container">
            <a href="#" class="logo-side ">MedParliament</a>
        </div>
    </div>
    <div class="side-bar-menu">
        <div class="profile-box">
            <div class="image-section">
                <img src="../../assets/images/man.svg">
            </div>
            <div class="user-description">
                <h2>Admin Name</h2>
                <h3>Admin</h3>
            </div>
        </div>
        <div class="side-menu">
            <ul>
                <li><a href="#">Dashboard</a> <img src="../../assets/images/a-dashboard.svg"></li>
                <li><a href="#">Admin</a> <img src="../../assets/images/d-admin.svg"></li>
                <li><a href="#">Users</a> <img src="../../assets/images/d-users.svg"></li>
                <li><a href="#">Settings</a> <img src="../../assets/images/d-settings.svg"></li>
            </ul>
        </div>
    </div>
</div>