.clr-wid {
    width: 15px;
    fill: #707070;
}
.side-menu ul li a.active .clr-wid {
    fill: #3b8cf6;
}
.mini-logo img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #dadada !important;
    border-radius: 10px;
}
.sidebar.active .side-title {
    display: none;
}
.sidebar.active .side-menu ul li a {
    display: flex;
    justify-content: center;
}