.crd-bnt a {
    margin-right: 10px;
}
.form-group label {
    margin-right: 10px;
}
.error p{
    
        margin-top: 5px;
        color: red;
        font-size: 12px;
    
}

/* plus - minus button */
.mag-button {
    width: 18px;
    object-fit: cover;
    object-position: center;
}
.inner-wrap-button-section button {
    background: no-repeat;
    border: 0;
    padding: 4px 11px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.inner-wrap-button-section button:active {
    background: #ced4da !important;
}
.lti-spc {
    margin-right: 5px;
}
.child-success.nex-sdc h2 {
    left: 0;
    top:0;
}
.red-icon {
    fill: red;
    width: 14px;
}
.close-oth{
    font-size: unset;
    opacity: unset !important;
}
/* plus - minus button End */