<div class="container-fluid">
    <div class="row">
                      <div class="col-sm-12 col-md-12">
    <div class="top-wrap-box d-flex space-between-flx">
        <div class="toggle-button-section md-toggle">
            <button type="button" class="togg" onclick="toggleside()">
                <div class="toggle-bar">
                    <span class="line-bar"></span>
                    <span class="line-bar"></span>
                    <span class="line-bar"></span>
                </div>
            </button>
        </div>
        <div class="top-bar-option">
            <ul class="d-flex align-items-center top-right-lst">
                vijay
                <li [routerLink]="['/notification']" (click)="gotOPage()" *ngIf="!showNotification">
                    <!-- <div class="logout-box"></div> -->
                                         <div class="logout-box">
                    
                                         
                    	
                                             <img src="../../assets/images/notificationbell.svg">
                    
                                             <!-- <img src="../../assets/images/notificationbell.svg"> -->
                    	
                                         <!-- </div> -->
                    
                                         </div>
                	
                         <span *ngIf="notification" class="num-lit">{{totalNotification}}</span>
                    
                                     <!-- <span class="num-lit">200</span> -->
                                        
                
                                     </li>
                <li>
                    <div class="profile-box mr-remove">
                        <div class="image-section">
                            <img src="../../assets/images/man.svg">
                        </div>
                    </div>
                </li>
                <li class="m-0">
                    <div class="logout-box">
                        <img (click)="logouts()" src="../../assets/images/logout.svg">
                    </div>
                </li>
                
                
                <template>
                <li>
                    <img src="../../assets/images/bell.svg">
                </li>
            </template>
            </ul>
        </div>
    </div>
</div>
    </div>
</div>


