<div class="container-fluid">
    <div class="row">
                      <div class="col-sm-12 col-md-12">
    <div class="top-wrap-box d-flex">
             <div class="form-group search-box mr-remove d-flex">
                <img src="../../assets/images/search.svg">
              <input type="email" class="form-control" placeholder="Search Project">
            </div>
        <div class="top-bar-option">
            <ul class="d-flex">
                <li>
                    <div class="profile-box mr-remove">
                        <div class="image-section">
                            <img src="../../assets/images/man.svg">
                        </div>
                        <div class="user-description">
                            <h3 (click)="logout()" class="cursor">Angelina Doe</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="../../assets/images/notification.svg">
                </li>
                <li>
                    <img src="../../assets/images/bell.svg">
                </li>
            </ul>
        </div>
    </div>
</div>
    </div>
</div>