
.inner-model-box {
    width: 100%;
    padding: 15px;
}
.inner-model-box span {
    font-size: 1rem;
    font-weight: 500;
}
.mod-btn {
    border-radius: 4px;
    margin-top: 2rem;
    width: 48%;
    height: 50px;
}
.mod-btn:first-child {
    margin-right: 1rem;
}
.cl-img img {
    width: 20px;
}
img.altr {
    width: 100px;
}
.dc-act h3 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2rem;
}
.dc-act {
    margin-left: 1rem;
}
.fill-back{
    background: #f44336;
    color: #fff;
}
.fill-back-ac{
    background: #50af50;
    color: #fff;
}
.deactivatedd {
    background: #d01507!important
}
.activatedd {
    background: #4caf50!important
}
.errros{
    color: red;
}

.child-success {
    display: inline-block;
}
.child-success img {
    width: 57px;
}
.child-success h2 {
    font-size: 2rem;
    margin-bottom: 0;
    position: relative;
    top: 5px;
    left:1rem;
}
