<div class="container-fluid">
<div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <div class="upper-wrap">
            <div class="image-section-set bg-color">
                <img class="image-set" src="../../../assets/images/policies.svg">
            </div>
            <ul class="sub-heading d-flex al-item mr-remove">
                <!-- <li>User /</li> -->
                <li>Student</li>
              </ul> 
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
            <div class="record-box table-responsive bg-white-fff border-round same-margin shadow-box">
                   <div class="upper-wrap">
                      <h2 class="main-hading mr-bottom">Student List</h2>   
                  </div>
                    <table class="table">                               
                        <thead>
                            <tr>
                                <!-- <th>Name </th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Student Address</th>
                                <th>Qualification</th>
                                <th>Batch / Year</th>
                                <th>University</th>
                                <th>No. of Posts</th>
                                <th>Status</th>
                                <th>Action</th> -->



                                <th>Name </th>
                            <th>Email</th>
							<th>Password</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>Interest</th>
                            <th>Institution</th>
                            <th>Address</th>
                            <th>Qualification</th>
                            <th>Batch Of Qualification</th>
                            <th>University</th>
                            <th>University Address</th>   
                            <th>Country</th>
                            <th>Status</th>
                            <th>Email Status</th>
                            <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let enter of studentlist;let i = index">
                               
                                <td>{{enter.userName}}</td>
                                <td>{{enter.email}}</td>
                                <td>{{enter.password | passwordType}}</td>
                                <td>{{enter.mobileNo}}</td>
                                <td>{{getGender(enter.gender)}}</td>
                                <td><span *ngFor="let interest of enter.interest;let last = last">{{interest}}<ng-container *ngIf="!last">,</ng-container>&nbsp;</span></td>
                                <td>{{enter.institutionName}}</td>
                                <td>{{enter.address}}</td>
                                <td>{{enter.qualificationName}}</td>
                                <td>{{enter.batchofQualification}}</td>
                                <td>{{enter.universityName}}</td>
                            <td>{{enter.universityAddress}}</td>
                                <td>{{enter.countryName}}</td>
                                <td>
                                        <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-active border-round-rem">Active</button>
                                        <button *ngIf="postStatus[i] == 1" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">Inactive</button>
                                </td>
                                <td>
                                    <img class="emailImage" *ngIf="enter.emailStatus == 0" src="../../../assets/images/emailClose.svg">
                                    <img class="emailImage" *ngIf="enter.emailStatus == 1" src="../../../assets/images/emailRight.svg">
                                </td>
                                
                               
                                <!-- <td>{{enter.userName}}</td>
                                <td>{{enter.mobileNo}}</td>
                                <td>{{enter.email}}</td>
                                <td>{{enter.address}}</td>
                                <td>{{enter.qualificationName}}</td>
                                <td>{{enter.batchofQualification}}</td>
                                <td>{{enter.universityName}}</td>
                                <td>{{enter.noOfPosts}}</td>
                                <td>
                                        <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-active border-round-rem">Active</button>
                                        <button *ngIf="postStatus[i] == 1" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">Inactive</button>
                                </td> -->



                                <td>
                                    <button type="button" class="acton-btn" (click)="policyDetail(enter.userId)">
                                        <img src="../../../assets/images/view.svg" class="action-view">
                                    </button>
                                </td>
                            </tr>
    
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>  