<div class="container-fluid">
<div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <div class="upper-wrap">
            <div class="image-section-set bg-color">
                <img class="image-set" src="../../../assets/images/policies.svg">
            </div>
            <ul class="sub-heading d-flex al-item mr-remove">
                <!-- <li>User /</li> -->
                <li>Student</li>
              </ul> 
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
            <div class="record-box table-responsive bg-white-fff border-round same-margin shadow-box">
                   <div class="upper-wrap">
                      <h2 class="main-hading mr-bottom">Student List</h2>   
                  </div>
                    <table class="table">                               
                        <thead>
                            <tr>
                                <th>Name </th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Student Address</th>
                                <th>Qualification</th>
                                <th>Batch / Year</th>
                                <th>University</th>
                                <th>No. of Posts</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let enter of studentlist;let i = index">
                                <td>{{enter.userName}}</td>
                                <td>{{enter.mobileNo}}</td>
                                <td>{{enter.email}}</td>
                                <td>{{enter.address}}</td>
                                <td>{{enter.qualificationId}}</td>
                                <td>{{enter.batchofQualification}}</td>
                                <td>{{enter.universityId}}</td>
                                <td>{{enter.noOfPosts}}</td>
                                <td>
                                        <!--  -->
                                        <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-active border-round-rem">Active</button>
                                        <button *ngIf="postStatus[i] == 1" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">Deactive</button>
                                        <!-- <button *ngIf="postStatus[i] == 2" type="button" class="btn ab-btn dc-bg-color-three border-round-rem">reject</button> -->
                                </td>
                                <td>
                                    <button type="button" class="acton-btn" (click)="policyDetail(enter.userId)">
                                        <img src="../../../assets/images/view.svg" class="action-view">
                                    </button>
                                </td>
                            </tr>
    
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>  