<div>
    <div>
        <label>Country</label>
        <select>
            <option>India</option>
            <option>Pakistan</option>
        </select>
        <input type="text">
        <button>Submit</button>

    </div>
    <div>
            <label>University</label>
            <select>
                <option>Delhi University</option>
                <option>Isalambad univeristy</option>
            </select>
            <input type="text">
            <button>Submit</button>
    </div>
    <div>
            <label>Qualification</label>
            <select>
                <option>Mtech</option>
                <option>Betech</option>
            </select>
            <input type="text">
            <button>Submit</button>
    </div>

</div>