.child-success {
    display: inline-block;
}
.child-success img {
    width: 57px;
}
.child-success h2 {
    font-size: 2rem;
    margin-bottom: 0;
    position: relative;
    top: 5px;
    left:1rem;
}
table tr td{
    padding: 5px 10px;
}
.fill-backs{
    padding: 5px 20px;
    background: #3b8cf6;
    color: #fff;
}
.errors{
    color: #f50b0b;
}