<div class="container-fluid">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <div class="upper-wrap">
        <div class="image-section-set bg-color">
            <img class="image-set" src="../../../assets/images/entrepreneur.svg">
        </div>
        <ul class="sub-heading d-flex al-item mr-remove">
          <li>Admin/</li>
          <li>Add New Admin</li>
        </ul>  
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <div class="admin-add-box bg-white-fff same-margin same-padding shadow-box">
        <h2 class="main-hading text-left">Add New Admin</h2>
        <div class="small-space"></div>
       
        <div *ngIf="errors" class="errros">{{errorMessage}}</div>
        <div class="form-box">
          <form [formGroup]="addAddminForm">
              <div class="form-group">
                <label class="form-label">Admin Name</label>
                <input type="text" class="form-control" formControlName="adminName">
              </div>
              <div class="form-group">
                <label class="form-label">Admin Type</label>
                <select class="form-control" formControlName="userTypeId"   >
                    <option value='2' >Policy</option>
                    <option value="3" >Entrepreneur</option>
                    <option value="4" >Student</option>

                </select>
                <!-- <input type="text" class="form-control" formControlName="adminType"> -->
              </div>
              <div class="form-group">
                <label class="form-label">Email Id</label>
                <input type="text" class="form-control" formControlName="emailId">
              </div>
              <div class="form-group">
                <label class="form-label">Password </label>
                <input type="text" class="form-control" formControlName="password">
              </div>
              <div class="form-group">
                <label class="form-label">Confirm Password</label>
                <input type="text" class="form-control" formControlName="confirmPass">
              </div>
              <div class="form-Group" *ngIf="UPdateUserss">
                    <label class="form-label">Admin Status</label>
                    <select class="form-control" formControlName="actionType"  >
                        <option value='0'   >Activate</option>
                        <option value="1"  >Deactivate</option>
                        <!-- <option value="4" >Student</option> -->
    
                    </select>
              </div>
              <div class="small-space"></div>
              <div class="bottom-section same-margin admin-action">
                <ul class="group-action-button mr-remove d-flex al-item ">
                  <li class="bg-color-blu" (click)="saveData()"><a href="javascript:void(0)">Save</a></li>
                  <li class="bg-color-l-black" (click)="resetData()"><a href="javascript:void(0)">Reset</a></li>
                  <!-- <li class="bg-color-l-black" (click)="openModal()" *ngIf="acitvated == 1" ><a href="javascript:void(0)">Activate</a></li>
                  <li class="bg-color-l-black"  *ngIf="acitvated == 0" (click)="openModal()" ><a href="javascript:void(0)">Deactivate</a></li> -->
                </ul>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8">
       <div class="admin-add-box bg-white-fff same-margin padding-tb shadow-box">
          <h2 class="main-hading text-left mr-left-2r">Recent Admin</h2>
          <div class="small-space"></div>
          <div class="recent-admin-info">

            <div class="inner-admin-box d-flex al-item" *ngFor="let admin of recentAdmin">
              <div class="image-box-admin">
                <img [src]="admin.profilePic" class="im-circle">
              </div>
              <div class="admin-description-box">
                <h2>{{admin.userName}}</h2>
                <ul class="inner-description-box-admin d-flex space-between-flx mr-remove">
                  <li>{{admin.email}}</li>
                  <li>{{admin.userType}} </li>
                </ul>
              </div>
            </div>
            
          </div>
       </div>
    </div>
</div>

<!-- <div class="modal fade" id="addAdmin-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMOdal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" *ngIf="!acitvatedd1">
                <span *ngIf="acitvated == 1">Are you sure to activate</span>
                <span *ngIf="acitvated == 0">Are you sure to deactivate</span>
              <h2></h2>
              <button *ngIf="acitvated == 1" (click)="deactivate()">activate</button>
              <button *ngIf="acitvated == 0" (click)="deactivate()">deactivate</button>
            </div>
            <div class="modal-body" *ngIf="acitvatedd1">
                   
                  <h2> {{modalDescription}}</h2>
                 
                </div>
          </div>
        </div>
      </div> -->


      <div class="modal fade" id="addAdmin-popSave" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header border-remo" >
                 
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeMOdal()">
                    <span aria-hidden="true">&times;</span>
                  </button> -->
                </div>
                
                <div class="modal-body" >
                        <!-- <span *ngIf="acitvated == 1">Are you sure to active</span>
                        <span *ngIf="acitvated == 0">Are you sure to deactive</span> -->
                        <div class="success-parent">
                                <div class="child-success"><img src="../../../assets/images/correct.svg"></div>
         
                                 
                                <div class="child-success"><h2>{{modalDescription}}</h2></div> 
                            </div>
                      <!-- <button *ngIf="acitvated == 1" (click)="deactivate()">active</button>
                      <button *ngIf="acitvated == 0" (click)="deactivate()">deactive</button> -->
                    </div>
              </div>
            </div>
          </div>
        </div>



    
        

        <div class="modal fade" id="addAdmin-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <template>
                        <div class="modal-header border-remo">
                        <button type="button" class="close cl-img" data-dismiss="modal" aria-label="Close" (click)="closeMOdal()">
                            <!-- <span aria-hidden="true">&times;</span> -->
                            <img src="../../../assets/images/close-im.svg">
                        </button>
                        </div>
                    </template>
                    <div class="modal-body" *ngIf="!activatedds">
                        <div class="inner-model-box same-margin" *ngIf="statuss == 0">
                            <div class="d-flex al-item">
                                <img src="../../../assets/images/caution.svg" class="altr">
                                <div class="dc-act">
                                    <h3>Deactivate Account</h3>
                                    <span >Are you sure you want to deactivate ?</span>
                                </div>
                            </div>
                            <div class="grp-btn text-center">
                                <button *ngIf="statuss == 0" (click)="closeModal()" class="mod-btn dc-bg-color-gray">Cancel</button>
                                <button *ngIf="statuss == 0" (click)="deactivate()" class="mod-btn fill-back">Deactivate</button>
                            </div>
                            </div>
                        <div class="inner-model-box" *ngIf="statuss == 1">
                                <div class="d-flex al-item">
                                        <img src="../../../assets/images/caution-ac.svg" class="altr">
                                        <div class="dc-act">
                                            <h3>Activate Account</h3>
                                            <span >Are you sure you want to activate ?</span>
                                        </div>
                                    </div>
        
                                    <div class="grp-btn text-center">
                                            <button *ngIf="statuss == 1" (click)="deactivate()" class="mod-btn dc-bg-color-gray">Cancel</button>
                                            <button *ngIf="statuss == 1" (click)="deactivate()" class="mod-btn fill-back-ac">Activate</button>
                                    </div>
                            </div>
                        <!-- <h2>{{modalDescription}}</h2> -->
                    </div>
                    <div class="modal-body" *ngIf="activatedds">
                           
                            <div class="success-parent">
                                    <div class="child-success"><img src="../../../assets/images/correct.svg"></div>
             
                                    
                                    <div *ngIf="statuss == 0" class="child-success"><h2> Deactivated Successfully</h2></div> 
                                    <div *ngIf="statuss == 1" class="child-success"><h2> Activated Successfully</h2></div> 
                                </div>
                        </div>
                  </div>
                </div>
              </div>