<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <div class="upper-wrap">
        <div class="image-section-set bg-color">
            <img class="image-set" src="image/entrepreneur.svg">
        </div>
        <ul class="sub-heading d-flex al-item mr-remove">
          <li>Admin/</li>
          <li>Add New Admin</li>
        </ul>  
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <div class="admin-add-box bg-white-fff same-margin same-padding shadow-box">
        <h2 class="main-hading text-left">Add New Admin</h2>
        <div class="small-space"></div>
        <div class="form-box">
          <form>
              <div class="form-group">
                <label class="form-label">Admin Name</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">Admin Type</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">Email Id</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">Password </label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">Confirm Password</label>
                <input type="text" class="form-control">
              </div>
              <div class="small-space"></div>
              <div class="bottom-section same-margin admin-action">
                <ul class="group-action-button mr-remove d-flex al-item ">
                  <li class="bg-color-blu"><a href="">Save</a></li>
                  <li class="bg-color-l-black"><a href="">Reset</a></li>
                </ul>
              </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8">
       <div class="admin-add-box bg-white-fff same-margin padding-tb shadow-box">
          <h2 class="main-hading text-left mr-left-2r">Recent Admin</h2>
          <div class="small-space"></div>
          <div class="recent-admin-info">

            <div class="inner-admin-box d-flex al-item">
              <div class="image-box-admin">
                <img src="image/profile.png" class="im-circle">
              </div>
              <div class="admin-description-box">
                <h2>Fourbrick Manager</h2>
                <ul class="inner-description-box-admin d-flex space-between-flx mr-remove">
                  <li>fourbrick.manager@gmail.com</li>
                  <li>Policy Maker's  Admin </li>
                </ul>
              </div>
            </div>
            <div class="inner-admin-box d-flex al-item">
              <div class="image-box-admin">
                <img src="image/profile.png" class="im-circle">
              </div>
              <div class="admin-description-box">
                <h2>Fourbrick Manager</h2>
                <ul class="inner-description-box-admin d-flex space-between-flx mr-remove">
                  <li>fourbrick.manager@gmail.com</li>
                  <li>Policy Maker's  Admin </li>
                </ul>
              </div>
            </div>
            <div class="inner-admin-box d-flex al-item">
              <div class="image-box-admin">
                <img src="image/profile.png" class="im-circle">
              </div>
              <div class="admin-description-box">
                <h2>Fourbrick Manager</h2>
                <ul class="inner-description-box-admin d-flex space-between-flx mr-remove">
                  <li>fourbrick.manager@gmail.com</li>
                  <li>Policy Maker's  Admin </li>
                </ul>
              </div>
            </div>
            <div class="inner-admin-box d-flex al-item">
              <div class="image-box-admin">
                <img src="image/profile.png" class="im-circle">
              </div>
              <div class="admin-description-box">
                <h2>Fourbrick Manager</h2>
                <ul class="inner-description-box-admin d-flex space-between-flx mr-remove">
                  <li>fourbrick.manager@gmail.com</li>
                  <li>Policy Maker's  Admin </li>
                </ul>
              </div>
            </div>
            <div class="inner-admin-box d-flex al-item">
              <div class="image-box-admin">
                <img src="image/profile.png" class="im-circle">
              </div>
              <div class="admin-description-box">
                <h2>Fourbrick Manager</h2>
                <ul class="inner-description-box-admin d-flex space-between-flx mr-remove">
                  <li>fourbrick.manager@gmail.com</li>
                  <li>Policy Maker's  Admin </li>
                </ul>
              </div>
            </div>
          </div>
       </div>
    </div>
</div>