<div class="main-container" *ngIf="loginSuccess">
    <div class="sidebar bg-white-fff" id="side-bar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="top-bar" id="slide">
        <div class="inner-top-bar bg-white-fff ">
        <app-header></app-header>
    </div>
        <div class="dashboard-section">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<div class="app-component-box">
<div class="main-box-container" *ngIf="!loginSuccess">
    <div class="wrap-container-box">
        <img src="../assets/images/watermark.svg" class="water-mrk">
        <div class="right-side">
            <div class="logo-sng-box">
                <img src="../assets/images/logo-sgn.svg">
                <h2>MED PARLIAMENT</h2>
                <p class="botom-text">powered by MedParliament.</p>
            </div>
        </div>
    <div class="left-side bg-white-fff same-padding pos-rel">
       
        <div class="wrap-outer-wrap">
            <img src="../assets/images/logo-right.svg" class="logo-right-side">
        </div>
        <div class="wrap-wrap-box">
          
            <h2 class="sign-in-heading">Sign In</h2>
            <p class="lets">Let's get started</p>
            <span *ngIf="errors" class="errorss">{{errors}}</span>
            <form [formGroup]="loginForm" class="login-form-class"  autocomplete="off" >
                <div  formGroupName="login" class="form-group input-box">
                    <label>Email Address</label>
                    <input type="email" class="form-control" formControlName="email" autocomplete="off">
                    <div class="errors" *ngIf="loginForm.get('login').get('email').errors && (loginForm.get('login').get('email').touched || loginForm.get('login').get('email').dirty)">
                        <p *ngIf="loginForm.get('login').get('email').errors && loginForm.get('login').get('email').errors.required" class="alert-msg"> Please Enter  Email</p>  
                        <p *ngIf="loginForm.get('login').get('email').errors && loginForm.get('login').get('email').errors.pattern" class="alert-msg"> Enter Correct Email</p>
                    </div>
                </div>
                <div  formGroupName="login" class="form-group pos-rel input-box">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password" id="signInPass" autocomplete="off">
                    <img src="../../assets/images/eye.svg" *ngIf="showPasswords" class="pos-abs" (click)="showPassword('signInPass')">
                    <img src="../../assets/images/close-eye.svg" *ngIf="!showPasswords" class="pos-abs" (click)="showPassword('signInPass')">
                    <div class="errors" *ngIf="loginForm.get('login').get('password').errors && (loginForm.get('login').get('password').touched || loginForm.get('login').get('password').dirty)">
                        <p *ngIf="loginForm.get('login').get('password').errors && loginForm.get('login').get('password').errors.required" class="alert-msg"> Please Enter  Password</p>  
                        <p *ngIf="loginForm.get('login').get('password').errors && loginForm.get('login').get('password').errors.pattern" class="alert-msg"> Enter Correct Password</p>
                    </div>
                </div>
                <div class="bottom-section up-spc admin-action">
                    <ul class="group-action-button mr-remove d-flex al-item ">
                      <li class="sign-btn-bg-color btn-shadw">
                          <button (click)="getLogin()" type="submit" id="signInLogin">Sign In</button>
                      </li>
                    </ul>
                  </div>
                
            </form>
        </div>
    </div>
</div>
</div>
</div>