.main-box-container {
    position: absolute;
    top:50%;
    left: 50%;
    width: 900px;
    height: 400px;
    transform: translate(-50%,-50%);
   
}
.pos-rel{
    position: relative;
}
.pos-abs {
    position: absolute;
    width: 20px;
    top: 42px;
    right: 10px;
}
.wrap-container-box {
    animation: slideInDown 900ms linear;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}
.right-side{
    background-image: url("../assets/images/signup.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sign-in-heading {
    margin: 0;
    font-size: 1.5rem;
    line-height: inherit;
    text-align: center;
    margin-bottom: 10px;
}
.input-box label {
    font-weight: 400;
    margin-bottom: 10px;
    color: #909090;
    font-size: 0.8rem;
}
.input-box .form-control:focus {
    background-color: #fff !important;
    border-color: #ced4da !important;
    outline: 0;
    box-shadow: none;
}
.input-box input {
    font-size: 15px;
    font-weight: 500;
    background: #fff !important;
}
button#signInLogin {
    background: #3b8cf6;
    border: none;
    color: #fff;
}

.alert-msg {
    font-size: 13px;
    line-height: 15px;
    color: red;
    margin: 6px 0;
    font-weight: 500;
    animation: shake 200ms linear;
}
.change-pos {
    position: absolute;
    bottom: 2rem;
    margin: 0;
}
.btn-shadw{
    box-shadow: 0px 10px 7px -8px #c7bec1;
    border-radius: 4px;
}

@-webkit-keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
  }


@media (min-width:320px) and (max-width:480px){
    .main-box-container {
        position: absolute;
        top:50%;
        left: 50%;
        width: 100%;
        height: 400px;
        transform: translate(-50%,-50%);
        padding: 0 1rem;
    }
    .wrap-container-box {
        display: grid;
        grid-template-columns:1fr;
        height: 100%;
        width: 100%;
    }
    .right-side{
        display: none;
    }
}
@media (min-width:481px) and (max-width:786px){
    .main-box-container {
        position: absolute;
        top:50%;
        left: 50%;
        width: 100%;
        height: 400px;
        transform: translate(-50%,-50%);
        padding: 0 1rem;
    }
    .wrap-container-box {
        display: grid;
        grid-template-columns:1fr 1fr;
        height: 100%;
        width: 100%;
    }
}
.errorss{
    color: red;
}