.main-box-container {
    position: absolute;
    top:50%;
    left: 50%;
    width: 1200px;
    height: 600px;
    transform: translate(-50%,-50%);
   
}
.pos-rel{
    position: relative;
}
.pos-abs {
    position: absolute;
    width: 20px;
    top: 10px;
    right: 10px;
}
.wrap-container-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
}
.right-side{
    position: relative;
    width: 100%;
    height: 100%;
}
.logo-sng-box{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.blok-sign-c {
    text-align: center;
}

.blok-sign-c img {
    width: 109px;
    margin-left: auto;
    margin-right: auto;
}
img.rt-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.right-side:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(299deg, #0719309e, #223c53);
}
.sign-in-heading {
    margin: 0;
    font-size: 1.5rem;
    line-height: inherit;
    margin-bottom: 5px;
    font-family: Roboto !important;
    font-stretch: condensed;
}
.input-box label {
    font-weight: 400;
    margin-bottom: 10px;
    color: #909090;
    font-size: 0.8rem;
}
.input-box .form-control:focus {
    background-color: #fff !important;
    border-color: #ced4da !important;
    outline: 0;
    box-shadow: none;
}
.input-box input {
    width: fit-content;
    font-size: 12px;
    line-height: 1.69;
    font-weight: normal;
    font-family: Roboto;
    background: #fff !important;
    border: 0;
    color: #46484e;
}


.alert-msg {
    font-size: 13px;
    line-height: 15px;
    color: red;
    margin: 6px 0;
    font-weight: 500;
}
.change-pos {
    position: absolute;
    bottom: 2rem;
    margin: 0;
}
.btn-shadw{
    box-shadow: 0px 10px 7px -8px #c7bec1;
    border-radius: 4px;
}

.app-component-box:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(299deg, #0719309e, #223c53);
}
.app-component-box {
    position: relative;
    background-image: url(../assets/images/bck-banner.png);
    height: 100vh;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
}
.logo-sng-box img {
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 120px;
}
.logo-sng-box h2{
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2.25px;
  color: #ffffff;
  position: relative;
}
.botom-text {
    font-size: 1rem;
    line-height: 1.69;
    letter-spacing: 0.46px;
    color: #d4c254;
    margin: 0;
}
.blok-sign-c {
    position: absolute;
    width: 100%;
    bottom: 1rem;
}
.wrap-wrap-box {
    padding: 2rem 4rem;
    position: relative;
    z-index: 2;
}
.wrap-outer-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.water-mrk {
    position: absolute;
    z-index: 1;
    right: 0;
    height: 100%;
}
.sign-btn-bg-color{
    background: #dfa43d !important;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 1.4rem;
    border-radius: 3px;
    border: 0;
    color: #fff;
    margin-top: 0rem;
}
.lets {
    margin-bottom: 2rem;
}
.up-spc{
    margin-top: 2rem;
}
.form-check-label{
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #4c5264;
    font-family: roboto;
    position: relative;
    top: 7px;
}
.trm{
    color:#076aab;
}
.lock-sg {
    width: 17px;
    fill: #707070;
    margin: 0 10px;
}
.input-box-wrap {
    border: 0.9px solid #b7b7b7;
    border-radius: 2px;
}
.wdt-s {
    width: 100% !important;
}



@media (min-width:320px) and (max-width:480px){
    .main-box-container {
        position: absolute;
        top:50%;
        left: 50%;
        width: 100% !important;
        height: 400px;
        transform: translate(-50%,-50%);
        padding: 0 1rem;
    }
    .wrap-container-box {
        display: grid;
        grid-template-columns:1fr;
        height: 100%;
        width: 100%;
    }
    .right-side{
        display: none;
    }
}
@media (min-width:481px) and (max-width:786px){
    .main-box-container {
        position: absolute;
        top:50%;
        left: 50%;
        width: 100%;
        height: 400px;
        transform: translate(-50%,-50%);
        padding: 0 1rem;
    }
    .wrap-container-box {
        display: grid;
        grid-template-columns:1fr 1fr;
        height: 100%;
        width: 100%;
    }
}
.errorss{
    color: red;
}
@media (max-width: 462px){
    .main-box-container{
        width:360px !important;
    }
}
    @media screen and (max-width:1366px){
        .sign-btn-bg-color{
            margin-top: 2rem !important;
        }
            .main-box-container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 650px;
            overflow: hidden;
            height: 400px;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
        .wrap-wrap-box{
            padding: 0px 2rem;
        }
        .up-spc{
            margin: 0px;
        }
        .logo-right-side {
            width: 36px;
        }
        .sign-in-heading {
            font-size: 1rem !important;
        }
        .lets {
            margin-bottom: 1rem;
            font-size: 14px;
            font-family: roboto;
        }
        .small-pading {
            padding: 1rem;
        }
        .logo-sng-box img {
            position: relative;
            backface-visibility: hidden;
            height: 130px;
        }
        .logo-sng-box h2 {
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 2.25px;
            color: #ffffff;
            position: relative;
            margin: 0;
        }
        .lock-sg {
            width: 17px;
            fill: #707070;
            margin: 0 10px;
        }
        .input-box-wrap {
            border: 0.9px solid #b7b7b7;;
            border-radius: 2px;
        }
    }
    .success-parent{
        /* background: red; */
    }