

.signup-model .modal-dialog {
    max-width: 860px;
    margin: 1.75rem auto;
}
.close-btn-model button, img:focus {
    outline: none;
}
.signup-model .modal-body {
padding: 0px !important; 
}
.wrap-sgnup {
    display: grid;
    grid-template-columns: 1fr 14fr;
    background: #fff;
}
.banner img {
    width: 340px;
    height: 597px;
}
.banner {
    position: relative;
}
.title-fandom {
    position: absolute;
    top: 0;
    color: #fff;
    padding: 32px 32px 0 32px;
}
.title-fandom h2 {
    font-size: 34px;
    text-transform: capitalize;
    line-height: 1.25;
    background: -webkit-linear-gradient(#E3197E, #46286E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-fandom h2 span{
    font-size: 46px;
}

.title-fandom p {
    margin-top: 32px;
    margin-bottom: 32px;
}
.hr-line:after{
    content: "";
    display: block;
    width: 64px;
    height: 4px;
    background: linear-gradient(-45deg,#E3197E,#46286E);
}
.inner-form-hading {
    padding: 32px 32px 0 32px;
}
.inner-form-hading h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: none;
    color: rgb(38, 38, 38);
    margin-bottom: 5px;
}
.inner-form-hading h4{
   color: rgb(38, 38, 38);
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin: 2px 0px 32px;
}

.inner-form-hading h4 a{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.25;
    display: inline-block;
    text-decoration: none;
    background: -webkit-linear-gradient(#E3197E, #46286E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-body {
    padding: 0 32px;
}

.form-body label{
    font-size: 12px;
    line-height: 1.25;
    text-align: left;
    color: rgb(38, 38, 38);
}

.form-body .form-group .form-control{
    padding-left: 10px;
    padding-right: 10px;
    line-height: normal;
    font-size: 14px;
    color: rgb(38, 38, 38);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
}
.form-body .form-group .form-control:hover{
    padding-left: 9px;
    padding-right: 9px;
    border-width: 2px;
    border-style: solid;
    border-color: #E3197E;
    border-image: initial;
}
.form-body .form-control:focus {
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: #f0632e 0px 0px 4px 0px inset;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: #f0632e;
    border-image: initial;
    border-radius: 2px;
    outline: none;
}



/* Check Box*/
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  /*background: rgb(2, 108, 223);*/
  border-color: rgb(2, 108, 223);
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}



/* End Check Box*/
/*.chiller_cb input:disabled ~ span {
  background: yellow;
  border-color: #dcdcdc;
}*/
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #848484fa;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
    transform: rotate(-55deg);
    top: 11px;
    left: 7px;
    background: rgb(2, 108, 223);
}

input:checked ~ span:before {
    width: 11px;
    height: 2px;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
input:checked ~ span:after {
    width: 7px;
    height: 2px;
    transition: width 0.1s;
    transition-delay: 0.2s;
    background: rgb(2, 108, 223);
}
.chiller_cb span:after {
    transform: rotate(35deg);
    bottom: 6px;
    left: 3px;
}
.chiller_cb label {
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 0;
}

.lbl {
    position: relative;
    top: -2px;
    left: 5px;
    color: transparent;
}
/* End Check Box*/

.bx-flxx {
    display: flex;
    justify-content: space-between;
    height: 0px!important;
}

.forget-pass a{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.25;
    color: rgb(2, 108, 223);
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease 0s, text-decoration 0.3s ease 0s;
    position: relative;
    top: 4px;
}
.bottom-titles {
    padding: 16px 32px 16px 32px;
    display: grid;
    grid-template-columns: 6fr 1fr;
    position: absolute;
    bottom: 0px;
}
.bottom-titles p{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    color: rgb(38, 38, 38);
}
.bottom-titles p a{
    font-weight: 600;
    line-height: 1.25;
    color: #c71c7b;
    display: inline-block;
    text-decoration: none;
}
.bottom-titles .btn {
    height: 40px;
    margin: auto 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 2.43;
    width: 100%;
    min-width: 60px;
    text-align: center;
    color: rgb(255, 255, 255);
    background: -webkit-linear-gradient(#E3197E, #46286E);
    border-radius: 2px;
    border:1px solid transparent;
    padding: 2px 0px;
}
.sgn-form {
    position: relative;
}

.bottom-titles .btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
    box-shadow: none !important;
}
.bottom-titles .btn-info.focus, .btn-info:focus {
    box-shadow: none;
}
.bottom-titles .btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #f0632e;
    border-color: #f0632e;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .banner {
    display: none;
}
.wrap-sgnup {
    display: grid;
    grid-template-columns: 1fr;
}
    .signup-model .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
  .bottom-titles {
    padding: 16px 32px 16px 32px;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    bottom: 0px;
    grid-gap: 10px;
}
.sgn-form-wrap {
    height: 480px;
}

}

.close-btn-model button img {
    width: 16px;
}



/* Sign In*/
.in-mod .title-fandom h2 span {
    font-size: 40px;
}
.wrap-pass {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
.close-btn-model button {
    position: absolute;
    right: 32px;
    top: 32px;
    z-index: 9;
}

@media (max-width: 1024px) and (min-width: 320px){
.in-mod .sgn-form-wrap {
    height: auto;
}
}
@media (max-width: 1024px) and (min-width: 320px){
.bottom-titles {
    padding: 16px 32px 16px 32px;
    display: grid;
    grid-template-columns: 1fr;
    position: unset;
}
}
.fandom_logo {
    position: absolute;
    bottom: 30px;
    right: 30px;
    box-shadow: -4px -4px 10px #1f2428, 4px 4px 10px #443c47;
    border-radius: 50px;
}
.fandom_logo img {
    width: 70px;
    height: 70px;
}
.signup-body{
    padding: 0;
}
/* End Sign */
.errors p{
    margin: 0;
    padding:3px 0 5px 0;
    color: red;
    font-size: 12px;
    border-radius: 5px;
}
.login-form-class .form-group{
    height: 5.33rem;
    margin-bottom: 0!important
}
.in-pass .back-to-sign:hover {
    background: #f0632e;
    color: #fff;
}
.in-pass .inner-form-hading h4 {
    color: rgb(38, 38, 38);
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    margin: 32px 0px 32px;
}
.in-pass .bottom-titles {
    padding: 16px 32px 16px 32px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: absolute;
    bottom: 0px;
    right: 0;
    grid-gap: 9px;
}
.in-pass .back-to-sign {
    background: transparent;
    color: #000;
}
.in-pass .back-to-sign:hover {
    background: #f0632e;
    color: #fff;
}
.in-pass .modal {
    padding: 0px !important;
}
.back-to-sign.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.back-to-sign:active {
    transform: scale(0.98, 0.98) translate(0px, 1px);
    background-color: rgb(214, 231, 250);
}
.in-mod .modal {
    padding: 0px !important;
}

.hgt {
    height: 500px;
}
.unset .bottom-titles {
    position: unset !important;
    grid-gap:10px;
}




.social-modal-section {
    display: block;
    margin: 0rem 0;
}
  .fb img {
    width: 14px;
}
  .gol img {
    width: 15px;
}
.social-modal-section ul{
  padding: 0;
  margin: 0px;
  text-align: center;
}
.social-modal-section ul li button {
box-shadow: 0 5px 10px 0 rgba(101, 109, 116, 0.25);
border-radius: 50px;
width: 3rem;
height: 3rem;
}
.social-modal-section ul li:first-child button {
background: #4267b2;
border-color: #4267b2;
font-weight: 500;
color: #fff;
}
.social-modal-section ul li:last-child button {
background: #fff;
border-color: #fff;
color: #000;
font-weight: 500;
}
.social-modal-section ul li {
display: inline-block;
margin-right: 1rem;
}
h3.text-divider {
font-size: 1rem;
text-align: center;

color: #656d74;
margin: 4rem 0px 2rem 0;
}
@media (min-width: 320px) and (max-width: 480px) {

/* .social-modal-section {
display: block;
margin: 0rem 0;
} */
.social-modal-section button{
width: 100%;
margin: 10px 0;
}

}
.signupNew {

    height: unset !important;
}
.signupNew .text-divider{
    margin: 1rem 0px 2rem 0;
}
.banner-signupNew img{
    height: auto!important;
}
.logo-signupNew{
    bottom: 32px !important;
}



.successfull-modal .modal-body {
    background: #d17c73;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.successfull-modal .modal-body img {
    width: 83px;
    display: block;
    margin: 10px auto;
}
.successfull-modal .modal-body h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 100;
}
.successfull-modal .modal-content{
border-color: transparent;
background: transparent;
}

.main-error-message p{
    margin-left: 2rem !important;
}
.pos-rel {
    position: relative;
}

img.pos-abs {
    position: absolute;
    width: 20px;
    top: 35px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}
.shw{
    display: hidden;
}
