<div class="container-fluid">
<div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <div class="upper-wrap">
            <div class="image-section-set bg-color">
                <img class="image-set" src="../../../assets/images/user-im.svg">
            </div>
            <ul class="sub-heading d-flex al-item mr-remove">
              <li >{{adminlist1}} </li>
              <li >{{adminlist2}}</li>
              <li> Profile Details</li>
            </ul>  
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4" >
          <div class="user-show-profile bg-white-fff text-center same-margin same-padding shadow-box">
            <div class="circle-box">
              <img *ngIf="userProfile && userProfile.profilePic" [src]="userProfile.profilePic">
            </div>
            <ul class="sub-inner-heading mr-remove">
              <li *ngIf="userProfile && userProfile.userName">{{userProfile.userName}}</li>
              <li *ngIf="userProfile && userProfile.designation">{{userProfile.designation}} , +91 {{userProfile.mobileNo}} </li>
              <li *ngIf="userProfile && userProfile.email">{{userProfile.email}}</li>
            </ul>
              <!-- <li *ngIf="userProfile && userProfile.organization"> Oragnization{{userProfile.organization}}  </li>
              <li *ngIf="userProfile && userProfile.qualificationName"> Qualification : {{userProfile.qualificationName}}  </li>
              <li *ngIf="userProfile && userProfile.universityName">University Name : {{userProfile.universityName}}  </li>
              <li *ngIf="userProfile && userProfile.universityAddress">University Address : {{userProfile.universityAddress}}  </li>
              
              <li *ngIf="userProfile && userProfile.institutionName">Institution : {{userProfile.institutionName}}  </li>
              <li *ngIf="userProfile && userProfile.batchOfQualification">Batch Year : {{userProfile.batchOfQualification}}  </li>
              <li *ngIf="userProfile && userProfile.address">Address : {{userProfile.address}}  </li>
              <li *ngIf="userProfile && userProfile.countryName">Country : {{userProfile.countryName}}  </li>
              <li *ngIf="userProfile && userProfile.userInterest">
                 
                  <span>
                        Interest : 
                        <li *ngFor="let interest of userProfile.userInterest; let i =  index"> {{i+1}}. {{interest}}</li>
                  </span>
                  
            </li> -->
            <div class="spc-gen"></div>
            <div class="more-info">
              <h3 class="short-profile mr-remove">Additional Information</h3>
              <ul class="add-infolist">
                <li *ngIf="userProfile && userProfile.qualificationName">
                  <h3>Qualification :</h3>
                  <h4>{{userProfile.qualificationName}}</h4>
                <li  *ngIf="userProfile && userProfile.batchOfQualification">
                  <h3>Batch Year :</h3>
                  <h4>{{userProfile.batchOfQualification}}</h4>
                </li>
                <li  *ngIf="userProfile && userProfile.institutionName">
                  <h3>Name of Institution:</h3>
                  <h4>{{userProfile.institutionName}}</h4>
                </li>
                <li *ngIf="userProfile && userProfile.universityName">
                  <h3>University:</h3>
                  <h4>{{userProfile.universityName}}</h4>
                </li>
              </ul>
            </div>
            <h3 *ngIf="userProfile && userProfile.aboutProfile" class="short-profile mr-remove">Short Profile</h3>
            <div class="short-blog">
              <p *ngIf="userProfile && userProfile.aboutProfile">
                {{userProfile.aboutProfile}}
              </p>
              <div class="bottom-section same-margin admin-action mr-topp" >
                <ul class="group-action-button mr-remove d-flex al-item " >
                  <li class="bg-color-blu" *ngIf=" userProfile && userProfile.status == 1" (click)="activatedStduent()"><a href="javascript:void(0)">Active</a></li>
                  <li class="bg-color-l-black" *ngIf="userProfile && userProfile.status == 0" (click)="activatedStduent()"><a href="javascript:void(0)">Deactive</a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8">
          <div class="recent-policy bg-white-fff same-margin same-padding shadow-box" *ngIf="userPost && userPost.length > 0">
             <h2 class="main-hading">Recent Policy</h2>
             <div class="post-container" *ngFor="let userPost of userPost">
               <div class="inner-post-container d-flex">
                  <h2 class="blog-title">
                   Absolutely brilliant, highly recommened.
                 </h2>
                  <h2 class="time-show">
                    8 hours ago
                  </h2>
               </div>
               <div class="blog-info">
                 <p>
                   First of all, Lucy covers the basics of photography incredibly well. This enabled to better understand how to take awesome photos, even with very little knowledge of the subject. Thank you so much for sharing your knowledge and experience.
                 </p>
               </div>
             </div>
            
          </div>
        </div>
    </div>
  </div>
    <div class="modal fade" id="students-pop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <template>
                    <div class="modal-header border-remo">
                    <button type="button" class="close cl-img" data-dismiss="modal" aria-label="Close" (click)="closeMOdal()">
                        <!-- <span aria-hidden="true">&times;</span> -->
                        <img src="../../../assets/images/close-im.svg">
                    </button>
                    </div>
                </template>
                <div class="modal-body" *ngIf="!activatedds">
                    <div class="inner-model-box same-margin" *ngIf="userProfile && userProfile.status == 0">
                        <div class="d-flex al-item">
                            <img src="../../../assets/images/caution.svg" class="altr">
                            <div class="dc-act">
                                <h3>Deactivate Account</h3>
                                <span >Are you sure you want to deactivate ?</span>
                            </div>
                        </div>
                        <div class="grp-btn text-center">
                            <button *ngIf="userProfile && userProfile.status == 0" (click)="ActiveStudent()" class="mod-btn dc-bg-color-gray">cancel</button>
                            <button *ngIf="userProfile && userProfile.status == 0" (click)="ActiveStudent()" class="mod-btn fill-back">Deactivate</button>
                        </div>
                        </div>
                    <div class="inner-model-box" *ngIf="userProfile && userProfile.status == 1">
                            <div class="d-flex al-item">
                                    <img src="../../../assets/images/caution-ac.svg" class="altr">
                                    <div class="dc-act">
                                        <h3>Activate Account</h3>
                                        <span >Are you sure you want to activate ?</span>
                                    </div>
                                </div>

                                <div class="grp-btn text-center">
                                        <button *ngIf="userProfile && userProfile.status == 1" (click)="ActiveStudent()" class="mod-btn dc-bg-color-gray">cancel</button>
                                        <button *ngIf="userProfile && userProfile.status == 1" (click)="ActiveStudent()" class="mod-btn fill-back-ac">Activate</button>
                                </div>
                        </div>
                    <!-- <h2>{{modalDescription}}</h2> -->
                </div>
                <div class="modal-body" *ngIf="activatedds">
                        <!-- <span *ngIf="userProfile && userProfile.status == 0">Are you what to sure Deactivated</span>
                        <span *ngIf="userProfile && userProfile.status == 1">Are you what to sure activated</span>
                        <button *ngIf="userProfile && userProfile.status == 0" (click)="ActiveStudent()">Deactivated</button>
                        <button *ngIf="userProfile && userProfile.status == 1" (click)="ActiveStudent()">Activated</button> -->
                      <h2>Done</h2>
                    </div>
              </div>
            </div>
          </div>
