<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.medparliament">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"

        android:persistent="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        tools:replace="android:name "
       >
        <activity
            android:name=".Activity.VideoViewerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_viewer"
            android:theme="@style/FullscreenTheme"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.medparliament.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.VideoDetailsActivity" />
        <activity android:name=".Activity.News_Activity_1" />
        <activity android:name=".Activity.New_News_Details_Activity" />
        <activity android:name=".Activity.Market_Insight_Detail_Activity" />
        <activity android:name=".Activity.Tabs_DashBoard_Activity" />
        <activity android:name=".Activity.Up_Skill_Details_Activity" />
        <activity android:name=".Temp.CameraActivity" />
        <activity android:name=".Activity.FaceDetectionActivity" />
        <activity android:name=".Activity.AboutUsActivity" />
        <activity android:name=".Activity.DecisionMaker" />
        <activity android:name=".Activity.Forgot_Password_Activity" />
        <activity android:name=".Activity.OTP_Activity" />
        <activity android:name=".Activity.All_Post_Details" />
        <activity android:name=".Activity.All_Post_Activity" />
        <activity android:name=".Activity.ReplyActivity" />
        <activity android:name=".Activity.Professonal_signup_Activity" />
        <activity android:name=".Activity.DoctorSignupActivity" />
        <activity android:name=".Activity.NewsDetails_Activity" />
        <activity android:name=".Activity.All_News_Activity" />
        <activity android:name=".Activity.ChangePassword_Activity" />
        <activity android:name=".Activity.About_us_Activity" />
        <activity
            android:name=".Activity.Edit_Profile_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.User_profile_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.Post_Details_Activity" />
        <activity android:name=".Activity.My_Post_Activity" />
        <activity android:name=".Activity.Comment_Activity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activity.DashBoard_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Entrepreneur_SignUp_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Policy_Maker_SignUp_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Student_SignUp_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignUp_type_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Login_Signup_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Base_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Splace"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ab1b6398303637b09aefc9f91cd879a9462c3095" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/RazorKey" />
    </application>

</manifest>