<div class="container-fluid">
<div class="row" >
        <div class="col-12 col-sm-12 col-md-12">
                <div class="upper-wrap">
                  <div class="image-section-set bg-color">
                      <img class="image-set" src="../../../assets/images/entrepreneur.svg">
                  </div>
                  <ul class="sub-heading d-flex al-item mr-remove">
                    <li>Admin /</li>
                    <li>Student</li>
                  </ul>  
                </div>
              </div>
        <div class="col-sm-12 col-md-12 col-lg-12 margin-tp">
            <div class="record-box neu-shadow table-responsive bg-white-fff border-round">
                 <div class="upper-wrap">
                         
                </div>
                <table class="table">                               
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>email</th>
                            <!-- <th>Mobile</th> -->
                            <th>Password</th>
                            <th>status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="studentlist && studentlist.length > 0">
                              <tr *ngFor="let subAdmin of studentlist ; let i =  index">
                                      <td>{{subAdmin.userName}}</td>
                                      <td>{{subAdmin.email}}</td>
                                      <!-- <td>{{subAdmin.mobileNo}}</td> -->
                                      <td>{{subAdmin.password}}</td>
                                      <td class="txt-color-r text-uppercase">
                                            <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-active border-round-rem">ACTIVE</button>
                                            <button *ngIf="postStatus[i]== 1" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">DEACTIVE</button>
                                     
                                      </td>
                                      <td>
                                          <!-- <button type="button" class="acton-btn" (click)="policyDetail(subAdmin.postId, subAdmin.userTypeId)">
                                              <img src="../../assets/images/view.svg" class="action-view">
                                          </button> -->
                                          <div class="btn-edit-group">
                                            <button type="button" class="edit-btn" (click)="EditDetails(subAdmin.userId, subAdmin.userTypeId)">  <img src="../../../assets/images/edit-im.svg"></button>
                                            <button type="button" class="delet-btn" (click)="deleteAdmin(subAdmin.userId, subAdmin.userTypeId)">  <img src="../../../assets/images/bin.svg"></button>
                                        </div>
                                      </td>
                                  </tr>
                        </ng-container>
                       
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>