<div class="animated fadeIn">

        <div class="card card-default crd-box">
          <div class="card-header border-remo">
            <div class="flx-ed">
            <div class="upper-wrap">
              <div class="image-section-set bg-color">
                <svg class="image-set" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 477.867 477.867" xml:space="preserve">
                  <g>
                    <g>
                      <path d="M460.8,119.467h-85.333v-102.4C375.467,7.641,367.826,0,358.4,0H17.067C7.641,0,0,7.641,0,17.067V409.6
                        c0,37.703,30.564,68.267,68.267,68.267H409.6c37.703,0,68.267-30.564,68.267-68.267V136.533
                        C477.867,127.108,470.226,119.467,460.8,119.467z M136.533,85.333h102.4c9.426,0,17.067,7.641,17.067,17.067
                        s-7.641,17.067-17.067,17.067h-102.4c-9.426,0-17.067-7.641-17.067-17.067S127.108,85.333,136.533,85.333z M290.133,409.6h-204.8
                        c-9.426,0-17.067-7.641-17.067-17.067s7.641-17.067,17.067-17.067h204.8c9.426,0,17.067,7.641,17.067,17.067
                        S299.559,409.6,290.133,409.6z M290.133,341.333h-204.8c-9.426,0-17.067-7.641-17.067-17.067c0-9.426,7.641-17.067,17.067-17.067
                        h204.8c9.426,0,17.067,7.641,17.067,17.067C307.2,333.692,299.559,341.333,290.133,341.333z M290.133,273.067h-204.8
                        c-9.426,0-17.067-7.641-17.067-17.067c0-9.426,7.641-17.067,17.067-17.067h204.8c9.426,0,17.067,7.641,17.067,17.067
                        C307.2,265.426,299.559,273.067,290.133,273.067z M290.133,204.8h-204.8c-9.426,0-17.067-7.641-17.067-17.067
                        c0-9.426,7.641-17.067,17.067-17.067h204.8c9.426,0,17.067,7.641,17.067,17.067C307.2,197.159,299.559,204.8,290.133,204.8z
                         M443.733,409.6c0,18.851-15.282,34.133-34.133,34.133s-34.133-15.282-34.133-34.133v-256h68.267V409.6z"/>
                    </g>
                  </g>
            </svg>
              </div>
              <h2 class="main-hading">Fact and Impact</h2>
          </div>
            <div class="card-header-actions crd-bnt">
              <a [routerLink]="['/news/createNews']" class="btn" target="_self">Create Fact and Impact</a>
              <!-- <a  class="btn btn-block btn-outline-dark" target="_self">View News</a> -->
            </div>
          </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                
                       <div class="tab-container-body mrtop-spc">
                   <div class="bg-white">
              <!-- End list html -->
              <div  class="tab-content border-remo ">
                <ng-container >
                    <div  role="tabpanel" aria-labelledby="home-tab" class="mr-top-spc tab-pane fade show active">
                      <ng-container >
                          <table class="table table-striped table-responsive-sm new-tbls">
                                  
                              <thead>
                                <tr>
                                  <th> User Name</th>
                                  <th> Title</th>
                                  <th>Video Link</th>
                                  <th> Summary</th>
                                  <th> Description</th>
                                  <th> Date</th>
                                  <th>Created By</th>
                                  <th>Endorse</th>
                                  <th>Comment</th>
                                  
                                  <th>Action</th>
                                </tr>
                              </thead>
                                  <tbody> 
                                    <ng-container *ngFor="let news of allnews">
                                      
                                         <tr >

                                      <td> <img *ngIf="news.imagePath != ''" src="{{news.imagePath}}" class="hash-img tab-shadow">  </td>
                                      <td> <p>{{news.newsTitle}} </p></td> 
                                      <td> <p>{{news.videoLink}} </p></td> 
                                      <td> <p>{{news.summary}} </p></td>                                       
                                      <td> <p [innerHtml]="news.newsDesc " class="inline-blk"></p> </td>
                                      <td> {{news.DateCreate}}</td>
                                      <td>  <p>{{news.userName}} </p></td> 
                                      <td (click)="endorse(news.id)">
                                        <button  type="button" class="btn ab-btn dc-bg-color-active border-round-rem">{{news.likeCount}}</button>
                                        </td>
                                        <td (click)="commenta(news.id)">
                                          <button  type="button" class="btn ab-btn dc-bg-color-active border-round-rem">{{news.commentCount}}</button>
                                        </td>
                                        
                                      <td>
                                            <div class="btn-edit-group">
                                                    <button type="button" class="edit-btn" (click)="editNews(news.id)" >  <img src="../../../assets/images/edit-im.svg"></button>
                                                    <button type="button" class="delet-btn" (click)="deleteNews(news.id)">  <img src="../../../assets/images/bin.svg"></button>
                                                </div>
                                          <!-- <a role="button" (click)="editNews(news.id)" class="card-header-action" target="_blank"><i class="fa fa-pencil-square-o"></i> </a>
                                          <a role="button" (click)="deleteNews(news.id)" class="card-header-action" target="_blank"><i class="fa fa-trash-o"></i> </a> -->
                                      </td>
                                    </tr>
                                    </ng-container>
                                    </tbody>
                              </table>
                              <div class="card-footer pb-0 pt-3" *ngIf = "paginationDisplay">
                                <nz-pagination [nzPageIndex]="1" [nzTotal]="totalRecords" (nzPageIndexChange)="pageChanged($event)" [nzPageSize]="pageSize"></nz-pagination>
                              </div>
                      </ng-container>  
                      
                  </div>
                </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
</div>


          <div class="modal fade" id="addAdmin-news" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <template>
                    <div class="modal-header border-remo paddign-remove">
                    <button type="button" class="close cl-img" data-dismiss="modal" aria-label="Close" (click)="closeMOdal()">
                        <img src="../../../assets/images/close-im.svg">
                    </button>
                    </div>
                </template>
                <div class="modal-body" *ngIf="!activatedds">
                    <div class="inner-model-box same-margin" >
                        <div class="d-flex al-item">
                            <img src="../../../assets/images/caution.svg" class="altr">
                            <div class="dc-act">
                                <h3>Delete Fact and Impact</h3>
                                <span >Are you sure you want to delete ?</span>
                            </div>
                        </div>
                        <div class="grp-btn text-center">
                            <button  (click)="closeModal()" class="mod-btn dc-bg-color-gray">Cancel</button>
                            <button  (click)="deletedNewss()" class="mod-btn fill-back">Delete</button>
                        </div>
                        </div>
                </div>
                <div class="modal-body" *ngIf="activatedds">
                        <div class="success-parent">
                                <div class="child-success"><img src="../../../assets/images/correct.svg"></div>                           
                                <div class="child-success"><h2>Deleted Successfully</h2></div> 
                            </div>
                    </div>
              </div>
            </div>
          </div>
    