<div class="animated fadeIn">
        <div class="card card-default crd-box">
          <div class="card-header border-remo">
            <div class="flx-ed">
              <div class="upper-wrap">
                <div class="image-section-set bg-color">
                  <svg class="image-set" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.032 512.032" xml:space="preserve">
                    <g>
                      <g>
                        <path d="M256.016,321.632V126.368c-5.536,0.512-11.008,1.376-16.576,1.632H80.016c-8.832,0-16,7.168-16,16v16h-48
                          c-8.832,0-16,7.168-16,16v96c0,8.832,7.168,16,16,16h48v16c0,8.832,7.168,16,16,16h9.696l64.32,171.456
                          c3.936,10.272,12.736,17.728,23.552,19.904c2.144,0.448,4.288,0.672,6.4,0.672c8.544,0,16.672-3.392,22.496-9.472l38.432-38.112
                          c9.824-9.824,12.16-25.152,5.888-37.024L197.104,320H239.6C245.104,320.256,250.544,321.12,256.016,321.632z"/>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M509.392,7.744c-0.32-0.544-0.608-0.992-1.024-1.504c-1.76-2.24-3.968-4.064-6.688-5.12
                          c-0.096-0.032-0.16-0.16-0.256-0.192c-0.32-0.096-0.608,0.064-0.928-0.032C499.056,0.48,497.616,0,496.016,0
                          c-1.088,0-2.048,0.416-3.104,0.64c-0.608,0.128-1.184,0.16-1.792,0.352c-2.752,0.896-5.12,2.432-7.008,4.544
                          c-0.128,0.128-0.32,0.16-0.448,0.288C433.776,66.4,364.208,106.912,288.016,121.76v204.512
                          c76.192,14.848,145.76,55.328,195.648,115.904c0.128,0.16,0.352,0.224,0.512,0.416c1.12,1.248,2.496,2.24,3.968,3.072
                          c0.48,0.288,0.864,0.704,1.344,0.928c2.016,0.864,4.192,1.408,6.528,1.408c1.824,0,3.616-0.32,5.408-0.928
                          c0.096-0.032,0.16-0.16,0.256-0.192c2.72-1.056,4.928-2.848,6.688-5.12c0.384-0.512,0.672-0.96,1.024-1.504
                          c1.536-2.464,2.624-5.184,2.624-8.256V16C512.016,12.928,510.928,10.208,509.392,7.744z"/>
                      </g>
                    </g>
                  </svg>
                </div>
                <h2 class="main-hading">Announcment Master</h2>
            </div>
              <div class="card-header-actions crd-bnt">
                <a [routerLink]="['/announcement/createAnnouncement']" class="btn" target="_self">Create Announcment</a>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                
                       <div class="tab-container-body mrtop-spc">
                   <div class="bg-white">
              
              <!-- list html -->
                <!-- <ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center list-tab-ul">
                  <li class="nav-item flex-sm-fill"  *ngFor="let cm of CategoryName; let i = index; let f = first" (click)="changeTabs(i,cm.id)">
                    <a attr.id="home2-tab{{i}}" data-toggle="tab" attr.href="#general-information{{i}}" role="tab" aria-controls="home2" aria-selected="true" class="nav-link nav-rem-padding text-uppercase font-weight-bold mr-sm-3 rounded-0 " [ngClass]="{'active' : f}">
                        {{cm.category | uppercase}}
                    </a>
                  </li>
                  
                </ul> -->
              <!-- End list html -->
              <div  class="tab-content border-remo ">
                <ng-container >
                    <div  role="tabpanel" aria-labelledby="home-tab" class="mr-top-spc tab-pane fade show active">
                      <ng-container >
                          <table class="table table-bordered table-striped ch-tabl table-responsive-sm new-tbls">
                                  
                              <thead> 
                                <tr>
                                      <th>Gallery Image</th>
                                      <th>Announcment Title</th> 
                                      <th>Announcment Description</th>
                                      <th>Youtube Link</th> 
                                      <th>Date of Creation</th>
                                      <th>Action</th>
                                    </tr>
                                </thead>
                                  <tbody> 
                                    <ng-container *ngFor="let news of allnews">
                                         <tr >
                                      <td> <img src="{{news.imagePath}}" class="hash-img tab-shadow" > </td>
                                      <td> <p>{{news.title}}</p> </td> 
                                      <td> <p>{{news.summary}} </p></td> 
                                      <td> <p>{{news.videoLink}} </p></td> 
                                      
                                      <td> <p>{{news.DateCreate}} </p></td>
                                      <!-- <td>  {{news.UserName}} </td> -->
                                      <td>
                                            <div class="btn-edit-group">
                                                    <button type="button" class="edit-btn" (click)="editNews(news.id)" >  <img src="../../../assets/images/edit-im.svg"></button>
                                                    <button type="button" class="delet-btn" (click)="deleteNews(news.id)">  <img src="../../../assets/images/bin.svg"></button>
                                                </div>
                                          <!-- <a role="button" (click)="editNews(news.id)" class="card-header-action" target="_blank"><i class="fa fa-pencil-square-o"></i> </a>
                                          <a role="button" (click)="deleteNews(news.id)" class="card-header-action" target="_blank"><i class="fa fa-trash-o"></i> </a> -->
                                      </td>
                                    </tr>
                                    </ng-container>
                                    </tbody>
                              </table>
                              <div class="card-footer pb-0 pt-3" *ngIf = "paginationDisplay">
                                <nz-pagination [nzPageIndex]="1" [nzTotal]="totalRecords" (nzPageIndexChange)="pageChanged($event)" [nzPageSize]="pageSize"></nz-pagination>
                              </div>
                      </ng-container>  
                      
                  </div>
                </ng-container>
                
          
                
                </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
    