.flx-ed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.crd-bnt a {
    border: 1px solid #0062e3;
    color: #0062e3;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 3px;
}
.image-set {
    width: 24px;
    height: 24px;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
    margin: 6px;
    fill: #fff;
}
.crd-box{
    border:0px;
}
.crd-box .card-header {
    background: #fff;
}
.new-tbls .table td, .table th {
    border: 0px;
    padding: 0px !important;
    vertical-align: middle;

}
.new-tbls {
    margin: 1rem 0;
    border: 1px solid #cecece;
}
.tab-shadow {
    box-shadow: 0 5px 15px 0 rgba(105,103,103,.5);
}
.new-tbls thead tr th {
    width: 200px;
    padding: 10px !important;
    color: #707070;
    font-size: 0.9rem;
    vertical-align: middle;

}
p.inline-blk div {
    display: inline;
    font-size: 15px;
}
.new-tbls tbody tr td {
    padding: 18px 15px !important;
    vertical-align: middle;
    width: 300px;
}
