

        <!-- Main Content- box -->
       
            <div class="container-fluid" *ngIf="superLogin && loaderStatus == true" >
                <!-- End Four Box -->
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                      <div class="upper-wrap">
                          <div class="image-section-set bg-color">
                              <img class="image-set" src="../../assets/images/home.svg">
                          </div>
                          <h2 class="main-hading">dashboard</h2>
                          
                      </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12">
                  <div class="container-wrap-box margin-tp">
                      <div class="inner-box-card neu-shadow bck-padding">
                          <img class="inner-image-set" src="../../assets/images/entrepreneur.svg">
                          <div class="card-st">
                               
                              <h2 class="card-hading-txt">total admin</h2>
                              <h3 class="card-info-txt">{{totalAdmins}}</h3>
                          </div>
                          <div class="circle-box-back"></div>
                          <div class="circle-box-down"></div>
                      </div>
                      <div class="inner-box-card neu-shadow bck-approved">
                            <img class="inner-image-set" src="../../assets/images/entrepreneur.svg">
                          <div class="card-st">
                              <h2 class="card-hading-txt">total entrepreneur</h2>
                              <h3 class="card-info-txt">{{totalEnterprenuer}}</h3>
                          </div>
                            <div class="circle-box-back"></div>
                          <div class="circle-box-down"></div>
                      </div>
                      <div class="inner-box-card neu-shadow dc-bg-color-three">
                          <img class="inner-image-set" src="../../assets/images/entrepreneur.svg">
                          <div class="card-st">
                              <h2 class="card-hading-txt">Total student</h2>
                              <h3 class="card-info-txt">{{totalStudent}}</h3>
                          </div>
                            <div class="circle-box-back"></div>
                          <div class="circle-box-down"></div>
                      </div>
                      <div class="inner-box-card neu-shadow bck-padding">
                          <img class="inner-image-set" src="../../assets/images/entrepreneur.svg">
                          <div class="card-st">
                              <h2 class="card-hading-txt">Total Policy Maker</h2>
                              <h3 class="card-info-txt">{{totalPolicy}}</h3>
                          </div>
                            <div class="circle-box-back"></div>
                          <div class="circle-box-down"></div>
                      </div>
                  </div>
                  </div>
              </div>
               <!-- End Four Box -->

               <!-- latest Post -->

              <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 margin-tp">
                      <div class="record-box neu-shadow table-responsive bg-white-fff border-round">
                           <div class="upper-wrap">
                              <h2 class="main-hading">Latest Policy Request</h2>   
                          </div>
                          <table class="table">                               
                              <thead>
                                  <tr>
                                      <th>name</th>
                                      <th>user Type</th>
                                      <th>email</th>
                                      <th>Posted On</th>
                                      <th>Approved/Rejected By</th>
                                      <th>status</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let post of PostList;let i = index;">
                                      <td>{{post.userName}}</td>
                                      <td>{{getUserType(post.userTypeId)}}</td>
                                      <td>{{post.email}}</td>
                                      <td>{{post.DateCreate | date}}</td>
                                      <td *ngIf="post && !post.approvedBy"class="txt-color-r text-uppercase">{{post.rejectedBy}}</td>
                                      <td *ngIf="post && post.approvedBy"class="txt-color-r text-uppercase">{{post.approvedBy}}</td>
                                      <td (onCreate)="getStatus(post.status,i)">
                                          <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-one border-round-rem">Pending</button>
                                          <button *ngIf="postStatus[i] == 1" type="button" class="btn ab-btn dc-bg-color-two border-round-rem">Approved</button>
                                          <button *ngIf="postStatus[i] == 2" type="button" class="btn ab-btn dc-bg-color-three border-round-rem">Rejected</button>
                                      </td>
                                      <td><button type="button" class="acton-btn" (click)="policyDetail(post.postId, post.userTypeId)">
                                        <img src="../../../assets/images/view.svg" class="action-view">
                                    </button></td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>


            <div class="container-fluid" *ngIf="!superLogin && loaderStatus == true">
                <!-- End Four Box -->
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-12">
                      <div class="upper-wrap">
                          <div class="image-section-set bg-color">
                              <img class="image-set" src="../../assets/images/home.svg">
                          </div>
                          <h2 class="main-hading">dashboard</h2>
                          
                      </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-12">
                  <div class="container-wrap-box margin-tp">
                      <div class="inner-box-card neu-shadow bck-padding border-round">
                          <img class="inner-image-set" src="../../assets/images/entrepreneur.svg">
                          <div class="card-st">
                               
                              <h2 class="card-hading-txt">Total Post</h2>
                              <h3 class="card-info-txt">{{totalPostCount}}</h3>
                          </div>
                          <div class="circle-box-back"></div>
                          <div class="circle-box-down"></div>
                      </div>
                      <div class="inner-box-card neu-shadow bck-approved border-round">
                            <img class="inner-image-set" src="../../assets/images/entrepreneur.svg">
                          <div class="card-st">
                              <h2 class="card-hading-txt">total User</h2>
                              <h3 class="card-info-txt">{{totalUsers}}</h3>
                          </div>
                            <div class="circle-box-back"></div>
                          <div class="circle-box-down"></div>
                      </div>
                      <div class="inner-box-card neu-shadow dc-bg-color-three border-round">
                          <img class="inner-image-set" src="../../assets/images/entrepreneur.svg">
                          <div class="card-st">
                              <h2 class="card-hading-txt">Approved Post</h2>
                              <h3 class="card-info-txt">{{totalApprovedCount}}</h3>
                          </div>
                            <div class="circle-box-back"></div>
                          <div class="circle-box-down"></div>
                      </div>
                      <div class="inner-box-card neu-shadow bck-padding border-round">
                          <img class="inner-image-set" src="../../assets/images/entrepreneur.svg">
                          <div class="card-st">
                              <h2 class="card-hading-txt">Rejected Post</h2>
                              <h3 class="card-info-txt">{{totalRejectCount}}</h3>
                          </div>
                            <div class="circle-box-back"></div>
                          <div class="circle-box-down"></div>
                      </div>
                  </div>
                  </div>
              </div>
               <!-- End Four Box -->

               <!-- latest Post -->

              <div class="row" >
                  <div class="col-sm-12 col-md-12 col-lg-12 margin-tp">
                      <div class="record-box neu-shadow table-responsive bg-white-fff border-round">
                           <div class="upper-wrap">
                              <h2 class="main-hading mr-bottom">Latest Post Request</h2>   
                          </div>
                          <table class="table">                               
                              <thead>
                                  <tr>
                                      <th>name</th>
                                      <th>email</th>
                                      <th>Posted On</th>
                                      <th>Post Title</th>
                                      <th>status</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngIf="subDashboardAdmin && subDashboardAdmin.length > 0">
                                        <tr *ngFor="let subAdmin of subDashboardAdmin ; let i =  index">
                                                <td>{{subAdmin.userName}}</td>
                                                <td>{{subAdmin.email}}</td>
                                                <td>{{subAdmin.DateCreate | date}}</td>
                                                <td>{{subAdmin.postTitle}}</td>
                                                <td class="txt-color-r text-uppercase">
                                                        <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-panding border-round-rem">Pending</button>
                                                        <button *ngIf="postStatus[i] == 1" type="button" class="btn ab-btn dc-bg-color-active border-round-rem">Approved</button>
                                                        <button *ngIf="postStatus[i] == 2" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">Rejected</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="acton-btn" (click)="policyDetail(subAdmin.postId, subAdmin.userTypeId)">
                                                        <img src="../../assets/images/view.svg" class="action-view">
                                                    </button>
                                                </td>
                                            </tr>
                                  </ng-container>
                                 
                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>

              <!-- End latest Post -->
          </div>




              <!-- End latest Post -->
          
          <!-- <div class="dis-page" *ngIf=PageDisplay>
                
            <nz-pagination [nzPageIndex]="1" [nzTotal]="totalRecords" (nzPageIndexChange)="nzPageIndexChange($event)" [nzPageSize]="pageSize"></nz-pagination>
         
        </div> -->
           <!-- End Main Content- box -->