<div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <div class="upper-wrap">
            <div class="image-section-set bg-color">
                <img class="image-set" src="../../../assets/images/policies.svg">
            </div>
            <ul class="sub-heading d-flex al-item mr-remove">
                <!-- <li>User /</li> -->
                <li>Entrepreneur</li>
              </ul> 
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12">
            <div class="record-box table-responsive bg-white-fff border-round same-margin shadow-box">
                   <div class="upper-wrap">
                      <h2 class="main-hading mr-bottom">Entrepreneur</h2>   
                  </div>
                    <table class="table">                               
                        <thead>
                            <tr >
                                <th>Name </th>
                                <th>Designation</th>
                                <th>Email</th>
                                <!-- <th>company Name</th> -->
                                <th>Phone Number</th>
                                <th>Gender</th>
                                <th>City</th>
                                <th>No. of Post</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let enter of enterlist;let i = index">
                                <td>{{enter.userName}}</td>
                                <td>{{enter.designation}}</td>
                                <td>{{enter.email}}</td>
                                <td>{{enter.mobileNo}}</td>
                                <td>{{getGender(enter.gender)}}</td>
                                <td>{{enter.city}}</td>
                                
                                <td>{{enter.noOfPosts}}</td>
                                <td>
                                        <!--  -->
                                        <button *ngIf="postStatus[i] == 0" type="button" class="btn ab-btn dc-bg-color-active border-round-rem">Active</button>
                                        <button *ngIf="postStatus[i] == 1" type="button" class="btn ab-btn dc-bg-color-inactive border-round-rem">Inactive</button>
                                        <!-- <button *ngIf="postStatus[i] == 2" type="button" class="btn ab-btn dc-bg-color-three border-round-rem">reject</button> -->
                                </td>
                                <td>
                                    <button type="button" class="acton-btn" (click)="policyDetail(enter.userId)">
                                        <img src="../../../assets/images/view.svg" class="action-view">
                                    </button>
                                </td>
                            </tr>
    
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
    